/* Site Colors */
@button-blue: #119eeb;
@font: #585858;
@heading-blue: #012543;
@white: #ffffff;

/* Fonts */
@font-brandon: "brandon-grotesque",sans-serif;

/* General Type Styles */

html,
body {
    font-size: 100%;
}

body {
    color: @font;
    font: 300 16px / 24px @font-brandon;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
}

h1 {
    color: #012543;
    font: 40px @font-brandon;
    margin: 0 0 2rem 0;
    text-transform: uppercase;

    /* Mobile Screen Size */
    @media screen and (max-width: 640px) {
    }
}

h2 {
    color: @heading-blue;
    font: 38px @font-brandon;
    text-transform: uppercase;
    width: 100%;

    /* Mobile Screen Size */
    @media screen and (max-width: 640px) {
    }
}

h3 {
    color: @heading-blue;
    font: 32px @font-brandon;
    margin: 25px 0;
    text-transform: uppercase;

    /* Mobile Screen Size */
    @media screen and (max-width: 640px) {
    }
}

h4 {
    color: @heading-blue;
    font: 24px @font-brandon;
    text-transform: uppercase;
    margin: 0 0 2.5rem 0;

    /* Mobile Screen Size */
    @media screen and (max-width: 640px) {
    }
}

h5 {
    color: @white;
    font: 32px @font-brandon;
    margin: 0 0 1.0rem 0;
    padding: 0;
    text-transform: uppercase;
}

a {
    color: #404040;
}

/* Site Specific Styles*/
.bg-header {

    .social {
        color: #404040;
        font: 700 21.33px @font-brandon;
        text-transform: uppercase;
    }
}

label {
    font-size: .875em;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: 500;
    margin-bottom: .1875em;
}

.logo {
    text-align: center;
}

.nav {
    background: rgba(64,64,64,1);
    background: -moz-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(43,43,43,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,64,64,1)), color-stop(100%, rgba(43,43,43,1)));
    background: -webkit-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(43,43,43,1) 100%);
    background: -o-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(43,43,43,1) 100%);
    background: -ms-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(43,43,43,1) 100%);
    background: linear-gradient(to bottom, rgba(64,64,64,1) 0%, rgba(43,43,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#2b2b2b', GradientType=0 );

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            position: relative;

            a {
                color: #ffffff;
                float: left;
                font: 300 20px @font-brandon;
                padding: 10px 25px;
                text-transform: uppercase;
            }

            ul {
                display: none;
                left: 0;
                position: absolute;
                top: 45px;

                li {
                    width: 250px;

                    a {
                        font: 300 18px @font-brandon;
                        text-transform: capitalize;
                    }
                }
            }

            &:hover {
                background: rgba(64,64,64,1);
            }

            &:hover ul {
                display: block;
            }
        }

    }
}

.news,.multimedia {
    background: #ededed;
    float: left;
    margin: 20px 0 0 0;
    width: 100%;

    header {
        background: #dddddd;
        padding: 10px 20px;
        text-transform: uppercase;

        h3 {
            color: #000000;
            font: 700 24px @font-brandon;
            margin: 0;
        }
    }
}

.right {
    background: #ededed;
    float: left;
    margin: 20px 0 0 0;
    width: 100%;

    header {
        background: #dddddd;
        padding: 10px 20px;
        text-transform: uppercase;

        h4 {
            color: #3e3e3e;
            font: 700 20px @font-brandon;
            margin: 0;
        }
    }
}
