.apply-educators {
  background: #ffffff;
}
.banner {
  border-bottom: 3px solid #fff;
  padding: 125px 0 0 0;
  position: relative;
}
@media screen and (max-width: 965px) {
    .banner {
        display: none;
    }
}
.banner .banner-txt {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 25%;
  width: 45%;
}
@media screen and (min-width: 966px) and (max-width: 1140px) {
    .banner .banner-txt {
      top: 15%;
    }
}
.banner .button-wrap {
  position: absolute;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 65%;
  width: 13%;
}
@media screen and (min-width: 966px) and (max-width: 1140px) {
    .banner .button-wrap {
      width: 18%;
    }
}
.banner .button-wrap .MPStyle_OrangeButton {
  margin: 0 auto;
}
.bg-inside {
  background: #ffffff;
}
.bg-white {
  padding: 30px 0;
}
@media screen and (min-width: 966px) and (max-width: 1140px) {
    .bg-white {
      padding: 0;
    }
}
.blog-cal {
  padding: 20px 0;
}
.bx-img {
  min-height: 50px;
  position: relative;
  width: 100%;
}
.bx-img p {
  margin: 0;
  padding: 0;
}
.bx-img img {
  height: auto!important;
  width: 100%!important;
}
.bx-img .bx-txt {
  bottom: 0;
  min-height: 20px;
  padding: 5px;
  position: absolute;
  width: 100%;
}
.bx-img .bx-txt p {
  margin: 0;
  padding: 0;
}
.blog {
  float: left;
  padding: 0 0.9375em 0 0;
}
.blog-wrap {
  float: left;
  padding: 0.9375em 0.9375em 0.9375em 0;
  width: 50%;
}
@media screen and (max-width: 965px) {
    .blog-wrap {
        width: 100%;
        padding: 0.9375em;
    }
}
.blog-wrap .blog-img {
  float: left;
  padding: 0 0.9375em 0 0;
  width: 35%;
}
.blog-wrap .blog-txt {
  float: left;
  width: 65%;
}
.blue {
  background: #004071;
}
.blue-shadow {
  background: #004071;
  background: rgba(0, 64, 113, 0.5);
}
.border-top {
  border-top: 1px solid #bcbcbc;
  padding: 20px 0 0 0;
}
.cal {
  float: left;
  padding: 0 0 0 0.9375em;
}
.ckeditor_contentArea {
    background: #ffffff;
}
@media screen and (max-width: 965px) {
    .content-box {
      float: left;
      padding: 0 0 0.9375em 0;
    }
}
.enrich ul {
  list-style: none;
  margin: 0 0 1.875em 0;
  padding: 0;
}
.enrich ul li {
  background: url(https://az480170.vo.msecnd.net/99596ac9-4edb-4ec1-ac49-3165040e91c4/img/prd/a9cd67f3-f83a-40c7-a389-784b900b97b0/li-enrich.png) 0 4px no-repeat;
  padding: 0 0 0 25px;
}
.engagement {
  background: #ffffff;
}
.engagement .engagement-one {
  background: url(https://az480170.vo.msecnd.net/99596ac9-4edb-4ec1-ac49-3165040e91c4/img/prd/abf54eca-2d31-4890-81f3-660678303b05/engagement-1.png) 50% 100% no-repeat;
  min-height: 220px;
}
.engagement .engagement-two {
  background: url(https://az480170.vo.msecnd.net/99596ac9-4edb-4ec1-ac49-3165040e91c4/img/prd/6642f611-26ca-4dbc-83a8-be2f0fd0f60f/engagement-2.png) 50% 100% no-repeat;
  min-height: 220px;
}
.engagement .engagement-three {
  background: url(https://az480170.vo.msecnd.net/99596ac9-4edb-4ec1-ac49-3165040e91c4/img/prd/ec28f203-2c7a-41c8-b2fc-92b719bc563c/engagement-3.png) 50% 100% no-repeat;
  min-height: 220px;
}
.flex {
  display: flex;
}
.flex-number {
  flex-direction: column;
}
.flt-left {
  float: left;
  position: relative;
}
footer {
  padding: 20px;
}
footer .top-footer .footer-border {
  border-bottom: 1px solid #395c83;
  float: left;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}
footer .top-footer form {
  float: left;
}
footer .top-footer .text {
  float: left;
  padding: 0 10px 0 0;
}
.gallery-text {
  height: 85%;
  float: left;
  padding: 25px;
  width: 100%;
}
.gallery-question {
  height: 15%;
  float: left;
  padding: 10px 25px;
  width: 100%;
}
.header-section {
  background: #ffffff;
  border-bottom: 3px solid #ffdd00;
  padding: 40px 0 0 0;
  position: fixed;
  width: 100%;
  z-index: 50;
}
@media screen and (max-width: 965px) {
    .header-section {
        padding: 10px 0 0 0;
    }
}
.inside ul {
  list-style: none;
}
.inside ul li {
  background: url(https://az480170.vo.msecnd.net/99596ac9-4edb-4ec1-ac49-3165040e91c4/img/prd/ce46d75b-dc19-4f03-8726-074910837f6f/li-gears.png) 0 8px no-repeat;
  padding: 5px 0 5px 50px;
}
.inside-page-title {
  background-color: #0086cc;
  padding: 165px 40px 40px 40px;
}
@media screen and (max-width: 965px) {
    .inside-page-title {
      padding: 115px 40px 40px 40px;
    }
}
.left-columns {
  position: relative;
  padding-left: 0.9375rem;
  float: left;
}
.logo {
  max-height: 67px;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 965px) {
    .logo {
        max-height: 40px;
    }
    .logo img {
        height: auto!important;
        width: 100%!important;
    }
}
main {
  background: #ffffff url(https://az480170.vo.msecnd.net/99596ac9-4edb-4ec1-ac49-3165040e91c4/img/prd/36fbd6c3-9ad5-44e7-9777-334234d9804f/homebg.png) 50% no-repeat;
}
@media screen and (max-width: 965px) {
    .mobile-hide {
        display: none;
    }
}
.mobile-menu-icon {
    display: none;
    text-align: center;
}
@media screen and (max-width: 965px) {
    .mobile-menu-icon {
        display: block;
    }
}
#MPCMSContent_inner footer {
  margin: 200px 0 0 0;
}
.MPStyle_BlueBorder {
  background: transparent;
  border: 4px solid #004071;
  display: table;
}
.MPStyle_GearBG {
  background: url(https://az480170.vo.msecnd.net/99596ac9-4edb-4ec1-ac49-3165040e91c4/img/prd/93e6fe06-4a01-4209-89ff-1d98eb651a81/bg_gear.png) no-repeat;
}
.MPStyle_LtBlueBorder {
  background: transparent;
  border: 4px solid #0086cc;
  display: table;
}
.MPStyle_LightBulb {
  background: url(https://az480170.vo.msecnd.net/99596ac9-4edb-4ec1-ac49-3165040e91c4/img/prd/dc3e4eb7-3fc6-440e-b4b8-a00f84eef65d/bg-lightbulb.png) no-repeat;
}
.MPStyle_BarsBG {
  background: url(https://az480170.vo.msecnd.net/99596ac9-4edb-4ec1-ac49-3165040e91c4/img/prd/d3f948d4-d6cd-44af-bea6-ae5ee6fc7ca1/bg-bars.png) no-repeat;
}
.MPStyle_OrangeBorder {
  background: transparent;
  border: 4px solid #fdb515;
  display: table;
}
.MPStyle_YellowBorder {
  background: transparent;
  border: 4px solid #ffdd00;
  display: table;
}
.my-5 {
  width: 20%;
}
@media screen and (max-width: 965px) {
    .my-5.columns {
        padding: 0;
    }
}
.orange {
  background: #fdb415;
}
.orange-shadow {
  background: #fdb415;
  background: rgba(253, 180, 21, 0.5);
}
.page-gallery {
  position: relative;
}
.page-gallery .gallery-img {
  position: relative;
  width: 100%;
  z-index: 1;
}
.page-gallery .gallery-img img {
  height: auto!important;
  width: 100%!important;
}
.page-gallery .bottom-shadow {
  bottom: 0;
  height: 15%;
  position: absolute;
  right: 0;
  width: 10%;
  z-index: 10;
}
@media screen and (max-width: 965px) {
    .page-gallery .bottom-shadow {
        display: none;
    }
}
.page-gallery .top-shadow {
  height: 85%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  z-index: 10;
}
@media screen and (max-width: 965px) {
    .page-gallery .top-shadow {
        display: none;
    }
}
.page-title {
  background-color: #fcb415;
  padding: 40px;
}
@media screen and (max-width: 965px) {
    .page-title {
       padding: 10px;
    }
}
.partners {
  padding: 20px 0;
}
@media screen and (max-width: 965px) {
    .partners img {
        height: auto!important;
        margin: 0 auto!important;
        padding: 0.9375em;
        text-align: center;
        width: 50%!important;
    }
}
.pikachoose {
  width: 100%!important;
}
.pika-stage {
  height: auto!important;
  width: 100%!important;
}
@media screen and (max-width: 965px) {
    .pika-stage-inner img {
        left: 0!important;
        top: 0!important;
    }
}
.program-page-title {
  background-color: #fdb415;
  padding: 165px 40px 40px 40px;
}
.right-border {
  border-right: 1px solid #bcbcbc;
  float: left;
}
.right-columns {
  position: relative;
  padding-right: 0.9375rem;
  float: left;
}
.search-icon {
  float: right;
}
.social-icons {
  float: right;
}
.success {
  padding: 20px 0;
}
@media screen and (max-width: 965px) {
    .success {
      padding: 20px 0.9375em;
    }
}
@media screen and (max-width: 965px) {
    .steam img {
        height: auto!important;
        width: 100%!important;
    }
}
.testimonial {
    float: left;
    padding: 0 0.9375em 0 0;
}
@media screen and (max-width: 965px) {
    .testimonial {
        float: left;
        padding: 0 0.9375em;
    }
}
.top-menu {
  float: right;
}
.top-wrap .social-icons a:last-child .fa {
  padding: 0 10px 0 0;
}
@media screen and (max-width: 965px) {
    .top-wrap {
        display: none;
    }
}
.triangle-left {
    width: 0;
    height: 0;
    border-top: 33px solid white;
    border-right: 15px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.triangle-right {
    width: 0;
    height: 0;
    border-bottom: 33px solid white;
    border-left: 15px solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}
.txt-wrap {
  height: 100%;
  position: absolute;
}
.yellow {
  background: #ffdd00;
}
.yellow-shadow {
  background: #ffdd00;
  background: rgba(255, 221, 0, 0.5);
}
