h1 {
  color: #ffffff;
  font-size: 42px;
  font-family: 'Serifa W01_75 Black788330';
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  /* Mobile Screen Size */
}
@media screen and (max-width: 965px) {
    h1 {
        font-size: 24px;
    }
}
h1 a {
  color: #ffffff;
}
h2 {
  color: #000000;
  font-family: 'Serifa D W01 Bold';
  font-size: 32px;
  margin: 0 0 1em 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
@media screen and (max-width: 965px) {
    h2 {
        font-size: 22px;
    }
}
h3 {
  color: #ffffff;
  font-family: 'Serifa D W01 Medium';
  font-size: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 965px) {
    h3 {
        font-size: 20px;
    }
}
h4 {
  color: #005996;
  font-family: 'Serifa D W01 Bold';
  font-size: 20px;
  font-weight: 800;
  margin: 0 0 5px 0;
}
@media screen and (max-width: 965px) {
    h4 {
        font-size: 18px;
    }
}
h5 {
  color: #015395;
  font: 700 25px 'Serifa D W01 Bold';
  margin: 0 0 1.0rem 0;
  padding: 0;
}
@media screen and (max-width: 965px) {
    h5 {
        font-size: 18px;
    }
}
a {
  color: #404040;
}
.banner-txt {
  text-align: center;
}
.banner-txt a {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (max-width: 965px) {
    .blog h4 {
        text-align: center;
    }
}
.blog-author {
  color: #000000;
  font-size: 16px;
}
.blog-title a {
  color: #000000;
  font-size: 24px;
}
.bx-txt,
.bx-txt a {
  color: #ffffff;
  font-size: 21px;
  text-align: center;
}
@media screen and (max-width: 965px) {
    .cal h4 {
        text-align: center;
    }
}
.cal-wrap {
  float: left;
  margin: 0 0 15px 0;
  width: 100%;
}
.cal-wrap .cal-date {
  background-color: #f0f0f0;
  margin: 0 15px 0 0;
  padding: 10px;
  float: left;
}
.cal-wrap .cal-date .cal-day {
  color: #000000;
  font-size: 25px;
  line-height: 1.0;
}
.cal-wrap .cal-date .cal-month {
  color: #000000;
  font-size: 13px;
  line-height: 1.0;
  text-align: center;
  text-transform: lowercase;
}
.cal-wrap .cal-title-loc {
  float: left;
}
.cal-wrap .cal-title-loc .cal-title {
  color: #000000;
  font-size: 24px;
}
@media screen and (max-width: 965px) {
    .cal-wrap .cal-title-loc .cal-title {
        font-size: 20px;
    }
}
.cal-wrap .cal-title-loc .cal-location {
  color: #000000;
  font-size: 16px;
  line-height: 1.0;
}
.copyright {
  color: #ffffff;
  font-size: 16px;
  text-align: right;
}
.copyright a {
  color: #ffffff;
}
.engagement {
  text-align: center;
}
.engagement h4 {
  text-transform: uppercase;
}
.engagement .engagement-three h4 {
  color: #00244c;
}
.fa {
  color: #9b9b9b;
  font-size: 16px;
}
footer {
  color: #ffffff;
}
.gallery-text {
  color: #ffffff;
  font-size: 30px;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}
.gallery-question {
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.inside h2 {
  color: #0086cd;
  text-align: left;
}
.inside h5 {
  color: #000000;
  font-size: 24px;
  text-transform: uppercase;
}
.inside li {
  color: #005996;
  font-size: 24px;
  text-transform: uppercase;
}
.mobilename {
    color: #404040;
    font-size: 30px;
}
.mobilename .fa {
    font-size: 30px;
}
.MPStyle_OrangeBorder a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  padding: 15px;
  text-transform: uppercase;
}
.MPStyle_BlueButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  background-color: #005996;
  border-color: #ffdd00;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: background-color 300ms ease-out;
}
.MPStyle_BlueButton a {
  color: #ffffff;
}
.MPStyle_LtBlueButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  background-color: #0086cc;
  border-color: #ffdd00;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: background-color 300ms ease-out;
}
.MPStyle_LtBlueButton a {
  color: #ffffff;
}
.MPStyle_OrangeButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  background-color: #fcb515;
  border-color: #ffdd00;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: background-color 300ms ease-out;
}
.MPStyle_OrangeButton a {
  color: #ffffff;
}
.MPStyle_QuoteName {
  color: #000000;
  font-size: 16px;
  padding: 0 0 0 5%;
}
.MPStyle_YellowButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  background-color: #ffdd00;
  border-color: #ffdd00;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: background-color 300ms ease-out;
}
.MPStyle_YellowButton a {
  color: #ffffff;
}
.nav {
  /*** background: url(https://az480170.vo.msecnd.net/99596ac9-4edb-4ec1-ac49-3165040e91c4/img/prd/fc395590-516f-4850-9a6e-4de0e29fdcb1/bg-nav.png) no-repeat; ***/
  float: right;
  margin: 0;
  padding: 8px 0 0 0;
  width: 100%;
}
@media screen and (max-width: 965px) {
    .nav {
        padding: 0;
    }
    .nav nav {
        display: none;
    }
}
.nav #Default ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}
.nav #Default ul li {
  float: left;
  position: relative;
}
.nav #Default ul li a {
  color: #ffffff;
  float: left;
  font: 300 16px / 22.667px 'Futura PT W01 Medium';
  padding: 5px 25px;
  text-transform: uppercase;
}
@media screen and (min-width: 966px) and (max-width: 1140px) {
    .nav #Default ul li a {
      font: 300 14px / 22.667px 'Futura PT W01 Medium';
      padding: 5px 20px;
    }
}
.nav #Default > ul > li:first-child > a {
    background: #00244c;
}
.nav #Default > ul > li:nth-child(2) > a {
    background: #004071;
}
.nav #Default > ul > li:nth-child(3) > a {
    background: #005996;
}
.nav #Default > ul > li:nth-child(4) > a {
    background: #0086cc;
}
.nav #Default > ul > li:last-child > a {
    background: #fcb515;
}
.nav #Default > ul > li > a:hover {
    background: #f0f0f0;
    color: #5d5d5d;
}
.nav #Default ul ul {
  background: #f0f0f0;
  border: 1px solid #d4d4d4;
  display: none;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 32px;
}
.nav #Default ul ul li {
  width: 250px;
}
.nav #Default ul ul li a {
  background: none;
  border-bottom: 1px solid #dadada;
  color: #5d5d5d;
  padding: 10px 5px;
  text-transform: uppercase;
  width: 100%;
}
.nav #Default ul ul li a:hover {
    color: #00244c;
}
.nav #Default ul ul li:last-child {
  background: none;
}
.nav #Default ul li:hover ul {
  display: block;
}
.sitemap-wrap {
    display: none;
}
@media screen and (max-width: 965px) {
  .sitemap-wrap {
    display: block;
  }
  .sitemap .nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }
  .sitemap .nav ul li {
    border: none;
    float: left;
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
  }
  .sitemap .nav ul li a {
    background: #f0f0f0;
    color: #00244c;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  .sitemap .nav ul li a:hover {
    color: #4bb0dc;
  }
  .sitemap .nav ul ul {
    background: #00244c;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
  .sitemap .nav ul ul li {
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    margin: 0;
  }
  .sitemap .nav ul ul > li:hover {
    background-color: #00244c;
  }
  .sitemap .nav ul ul li a {
    background: #00244c;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
  }
  .sitemap .nav ul ul ul li {
    border: none;
    margin: 0;
  }
  .sitemap .nav ul ul ul li a {
    font-size: 13px;
  }
}
.success {
  text-align: center;
}
.testimonial {
  font-size: 24px;
}
@media screen and (max-width: 965px) {
    .testimonial h4 {
        text-align: center;
    }
}
.title-text {
  color: #ffffff;
  font-size: 21px;
}
@media screen and (max-width: 965px) {
    .title-text {
        padding: 120px 0 0 0;
    }

    .inside-page-title .title-text {
        padding: 30px 0 0 0;
    }
}
.top-footer form input[type="button"] {
  background-color: #fcb415;
  border: none;
  color: #ffffff;
  font-size: 18px;
  padding: 3px 10px;
  text-align: center;
  text-transform: uppercase;
}
.top-footer .footer-social {
  font-size: 18px;
  text-transform: uppercase;
}
.top-footer .footer-social a .fa {
  color: #fcb415;
  font-size: 30px;
  vertical-align: middle;
}
.top-footer .footer-social a:first-child .fa {
  padding: 0 0 0 10px;
}
.top-footer .newsletter {
  font-size: 18px;
  text-transform: uppercase;
}
.top-menu nav a {
  color: #9b9b9b;
  font: 300 16px / 22.667px 'Futura PT W01 Medium';
  text-transform: uppercase;
}
.top-menu nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-menu nav ul li {
  float: left;
}
.top-menu nav ul li a {
  color: #9b9b9b;
  font: 300 16px / 22.667px 'Futura PT W01 Medium';
  padding: 0 10px 0 0;
}
