h1 {
  color: #ffffff;
  font: 700 32px / 48px "aktiv-grotesk";
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  /* Mobile Screen Size */
}
h1 a {
  color: #ffffff;
}
h2 {
  color: #015395;
  font: 700 32px / 24px "aktiv-grotesk";
  margin: 0 0 1em 0;
  text-transform: uppercase;
  width: 100%;
  /* Mobile Screen Size */
}
h3 {
  color: #f9fdfd;
  font: 700 30px "aktiv-grotesk";
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  /* Mobile Screen Size */
}
h4 {
  background-color: #f0f0f0;
  color: #015395;
  font: 700 28px "aktiv-grotesk";
  margin: 0 0 5px 0;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  /* Mobile Screen Size */
}
h5 {
  color: #015395;
  font: 700 25px "aktiv-grotesk";
  margin: 0 0 1.0rem 0;
  padding: 0;
}
a {
  color: #404040;
}
.address {
  color: #f9fdfd;
  font-size: 18px;
}
.banner-txt {
  text-align: center;
}
.bx-txt {
  color: #f9fdfd;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.bx-txt a {
  color: #f9fdfd;
}
.calendar-wrap {
  color: #000000;
}
.calendar-wrap a {
  color: #000000;
}
.calendar-wrap .cal-day {
  font-size: 25px;
  text-align: center;
}
.calendar-wrap .cal-location {
  font-size: 16px;
}
.calendar-wrap .cal-month {
  font-size: 13px;
  text-align: center;
}
.calendar-wrap .cal-title {
  font-size: 24px;
}
#divSearchButton .fa {
  font-size: 14px;
}
.focus-text {
    color: #000000;
    font: 400 28px / 48px "aktiv-grotesk";
    text-align: center;
}
footer .social-icons {
  color: #f9fdfd;
  text-transform: uppercase;
}
footer .social-icons .fa {
  font-size: 48px;
}
.MPStyle_OrangeButton {
  background-color: #ed8422;
  padding: 15px;
  color: #f9fdfd;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 75%;
}
.MPStyle_YellowButton {
  background-color: #f4c740;
  padding: 10px;
  color: #f9fdfd;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 75%;
}
.MPStyle_Partners {
  color: #015395;
  font-size: 21px;
  font-style: italic;
  text-align: center;
}
.MPStyle_Partners a {
  color: #015395;
}
.nav {
  float: right;
  padding: 15px 0 0 0;
  width: 100%;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}
.nav ul li {
  float: left;
  position: relative;
}
.nav ul li a {
  float: left;
  color: #015395;
  font: 700 18px / 28px "aktiv-grotesk";
  padding: 10px;
  text-transform: uppercase;
}
.nav ul li ul {
  display: none;
  left: 0;
  position: absolute;
  top: 45px;
}
.nav ul li ul li {
  width: 250px;
}
.nav ul li ul li a {
  font: 400 18px / 48px "aktiv-grotesk";
  text-transform: capitalize;
}
.nav ul li ul li:last-child {
  background: none;
}
.nav ul li:last-child {
  background-color: #ed8422;
}
.nav ul li:last-child a {
  color: #fff;
}
.nav ul li:hover {
  background: #015395;
}
.nav ul li:hover a {
  color: #ffffff;
}
.nav ul li:hover ul {
  display: block;
}
.orange-button {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.page-title h1 {
  color: #015395;
}
.past-event-desc {
  text-align: center;
}
.past-event-desc .past-title {
  color: #015395;
  font-size: 18px;
  text-transform: uppercase;
}
.past-event-desc .past-desc {
  font-size: 16px;
}
.past-event-desc .read-more {
  background-color: #ed8422;
  margin: 0 auto;
  width: 40%;
}
.past-event-desc .read-more a {
  color: #ffffff;
  display: block;
  padding: 10px 15px;
}
.past-title a {
    color: #015395;
  font: 700 25px "aktiv-grotesk";
}
.side-menu {
  background: #f0f0f0;
  margin: 20px 0 0 0;
  padding: 30px;
}
.side-menu ul li,.side-menu ul li a {
  color: #015395;
    font: 700 21.33px / 24px "aktiv-grotesk";
}
.side-menu ul li:before {
  content: "+";
  position: relative;
  left: -5px;
}
.side-menu ul li.visible:before {
  content: "-";
}
.side-menu ul ul {
    display: none;
}
.side-menu ul ul li,.side-menu ul ul li a {
    color: #015395;
    font: 400 18.67px / 24px "aktiv-grotesk";
}
.side-menu ul ul li:before {
  content: "-";
  position: relative;
  left: -5px;

}
.social-icons a {
  color: #ed8422;
  font-size: 26px;
}
.tiphat-text {
    color: #000000;
    font-size: 18px;
}
.volunteer {
  color: #f9fdfd;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
