@media screen and (max-width: 1080px) {
  .banner {
    padding: 57px 0 0 0;
  }
}
.banner-img p {
  margin: 0;
}
.banner-img img {
  height: auto!important;
  width: 100%!important;
}
button,
.button,
#Submit_0-1,
.MPStyle_OrangeButton {
  background: #f7941e;
  padding: 15px 20px;
  /* Mobile Screen Size */
}
@media screen and (max-width: 1080px) {
  button,
  .button,
  #Submit_0-1,
  .MPStyle_OrangeButton {
    padding: 10px 15px;
  }
}
.blogwrap {
  border-bottom: 1px solid #9e9f9f;
  display: flex;
  float: left;
  padding: 5px 25px;
  width: 100%;
}
.blogwrap:last-child {
  border: none;
}
.blogwrap .blogimg {
  float: left;
  margin: 0 10px 0 0;
  width: 10%;
}
.blogwrap .blogtitle {
  float: left;
  width: 85%;
}
.careerwrap img,
.resources img {
  height: 200px!important;
  width: auto!important;
  /* Mobile Screen Size */
}
@media screen and (max-width: 1080px) {
  .careerwrap img,
  .resources img {
    height: 184px!important;
  }
}
.ckeditor_contentArea {
  background: #ffffff;
  color: #000000;
}
.careerwrap {
  margin: 20px 20px 0 20px;
  /* Mobile Screen Size */
}
@media screen and (max-width: 1080px) {
  .careerwrap {
    margin: 10px 0 0 0;
  }
}
.contactus {
  /* Mobile Screen Size */
}
@media screen and (max-width: 1080px) {
  .contactus {
    padding: 15px 0;
  }
}
.contactus ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contactus ul li {
  border-bottom: 1px solid #9e9f9f;
  float: left;
  padding: 15px 25px;
  width: 100%;
}
.contactus ul li:last-child {
  border: none;
}
/* The default Menu Styles */
.default-menu {
  width: 100%;
  /* Mobile Screen Size */
}
@media screen and (max-width: 1080px) {
  .default-menu {
    display: none;
  }
}
.default-menu #Default {
  text-align: center;
}
.default-menu ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.default-menu ul li {
  float: left;
  padding: 38px 0;
  position: relative;
}
.default-menu #Default > ul > li:nth-child(4) {
  padding: 0;
}
.default-menu ul li a {
  padding: 0 10px;
  cursor: pointer;
}
.default-menu #Default ul li.logo a {
       padding: 0 5px;
 }
.default-menu #Default > ul > li:first-child a {
    padding: 0 10px 0 0;
 }
.default-menu #Default > ul > li:nth-child(2) a {
    padding: 0 5px;
 }
.default-menu #Default > ul > li:nth-child(3) a {
    padding: 0 0 0 10px;
 }
.default-menu #Default .Default_Last a {
    padding: 0 0 0 20px;
}
@media screen and (min-width: 976px) and (max-width: 1260px) {
  .default-menu ul li a {
      padding: 0 10px;
    }
}
.default-menu ul li a:hover {
  color: #f7941e;
}
.default-menu ul li:hover ul {
  display: block;
}
.default-menu ul ul {
  background-color: #1c2d43;
  background-color: rgba(28, 45, 67, 0.85);
  display: none;
  left: 0;
  position: absolute;
  top: 65px;
}
.default-menu ul ul li {
  border-bottom: 1px solid #b1b1b1;
  clear: both;
  padding: 10px 0;
  text-align: left;
  width: 280px;
}
.default-menu #Default ul > li > ul > li a {
    padding: 0 20px!important;
    }
.default-menu ul ul li:last-child {
  border: none;
}
.definition {
  background: #d7d7d7 url('https://az480170.vo.msecnd.net/c505b5d9-60f8-42cc-b695-5096e7b71cdb/img/prd/ebcafa60-00d8-48fe-ba81-2eb79bff9003/bg-definition.png') no-repeat;
  padding: 50px 0;
  /* Mobile Screen Size */
}
@media screen and (max-width: 1080px) {
  .definition {
    background: #d7d7d7 url('https://az480170.vo.msecnd.net/c505b5d9-60f8-42cc-b695-5096e7b71cdb/img/orig/1297c097-61da-43b2-acca-3a31497e2b0e/arrows_mobile.png') no-repeat;
    padding: 20px 0;
  }
}
.definition .def-title {
  float: left;
  padding: 0 10px 0 0;
}
.definition .def-text {
  float: left;
  padding: 10px 0 0 0;
  width: 75%;
}
@media screen and (max-width: 1080px) {
  .definition .def-text {
    width: 100%;
  }
}
.findcareer {
  background: url('https://az480170.vo.msecnd.net/c505b5d9-60f8-42cc-b695-5096e7b71cdb/img/prd/594709c2-8a1e-4419-8184-37fde4abe11c/settingthemark_bg.png') repeat;
  padding: 50px 0;
  /* Mobile Screen Size */
}
@media screen and (max-width: 1080px) {
  .findcareer {
    padding: 20px 0;
  }
}
.fixed-menu-padding {
  padding: 15px 0;
  /* Mobile Screen Size */
}
@media screen and (max-width: 1080px) {
  .fixed-menu-padding {
    display: none;
  }
}
.footer {
  padding: 50px 0;
  /* Mobile Screen Size */
}
@media screen and (max-width: 1080px) {
  .footer {
    padding: 20px 0;
  }
}
.footer-social-icons {
  margin: 0 20px;
}
.gov-clearances {
  border: 5px solid transparent;
  bottom: 300px;
  float: left;
  outline: 5px solid #d7d7d7;
  padding: 0;
  position: absolute;
  right: 0;
}
.gov-clearances .clearances {
  background-color: #d7d7d7;
  background-color: rgba(215, 215, 215, 0.5);
  float: left;
  padding: 15px;
  width: 100%;
}
/* Header Section Sticky  */
.header-section {
  position: fixed;
  z-index: 999;
  min-width: 100%;
}
/* FILL USED FOR HEADER */
.header-fill {
  background: #fff;
  height: 135px;
}
.header-fill .tablet-mobile-logo img {
  padding-top: 30px;
}
@media screen and (max-width: 1080px) {
  .inside-banner {
    padding: 89px 0 0 0;
  }
}
.inside-content .case-details {
  border: 10px solid transparent;
  float: left;
  outline: 10px solid #d7d7d7;
  width: 80%;
}
.inside-content .case-details ul li {
  background: none;
  padding: 0;
}
.inside-content .case-details .case-detail-title {
  background-color: #d7d7d7;
  background-color: rgba(215, 215, 215, 0.5);
  float: left;
  padding: 25px 0 25px 25px;
  width: 30%;
}
.inside-content .case-details .case-detail-descr {
  background-color: #d7d7d7;
  background-color: rgba(215, 215, 215, 0.5);
  float: left;
  padding: 25px 25px 25px 0;
  width: 70%;
}
.inside-content .case-details .case-detail-descr p {
  margin: 0;
  padding: 0;
}
.inforgraphic {
  background: url('https://az480170.vo.msecnd.net/c505b5d9-60f8-42cc-b695-5096e7b71cdb/img/prd/dd68917e-578e-46b4-85f7-a678f136c325/infographic_bg.png') repeat;
}
.inforgraphic img {
  height: auto!important;
  width: 100%!important;
}
.inside-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inside-content ul li {
  background: url('https://az480170.vo.msecnd.net/c505b5d9-60f8-42cc-b695-5096e7b71cdb/img/orig/9101bcb5-1594-4715-b2b0-6169846f5d5c/bg-li.png') no-repeat 5px;
  padding: 0 0 0 35px;
}
.left-menu {
    float: left;
    text-align: center;
}
.logo {
   float: left;
   padding: 0 0 20px 0;
   text-align: center;
}
.mp-form-field {
    float: left;
    padding: 5px 0;
    width: 100%;
}
.mp-form-field-input, .mp-form-field-group-item-input {
    position: relative;
}
.mp-form-wrapper {
    width: 100%;
}
.mp-list-entry {
    float: left;
    border-bottom: 1px solid #d8d8d8;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    width: 100%;
}
#MPCMSContent_inner footer {
    margin: 150px 0 0 0;
}
/* Mobile Logo Styles */
.mobile-logo {
  display: none;
  /* Table Screen Size */
  /* Mobile Screen Size */
}
@media screen and (max-width: 1080px) {
  .mobile-logo {
    display: block;
    float: left;
    padding: 0 0 0 0.9375em;
    width: 75%;
  }
  .mobile-logo img {
    width: 75%;
    float: right;
  }
}
.mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 1080px) {
  .mobile-menu-icon {
    display: block;
    left: 5px;
    position: absolute;
    top: 5px;
  }
}
/* CMS Styles */
#MPCMSContent_inner .banner-img {
  padding: 225px 0 0 0;
}
.MPStyle_QuoteSignature {
  color: #f7941e;
  float: right;
  font-size: 14px;
}
.openings .openings-img {
  float: left;
  padding: 0 20px 0 0;
  width: 30%;
}
@media screen and (max-width: 976px) {
    .openings .openings-img {
        width: 100%;
    }
}
.openings .openings-img img {
  height: auto!important;
  width: 100%!important;
}
.openings .openings-text {
  float: left;
  width: 70%;
}
@media screen and (max-width: 976px) {
    .openings .openings-text {
        width: 100%;
    }
}
.our-process {
  margin: 25px 0;
}
.our-process-img p {
  margin: 0;
  padding: 0;
}
.our-process-img img {
  width: 100%!important;
  height: auto!important;
}
.page-title {
  position: absolute;
  top: 38%;
  width: 100%;
  z-index: 5;
}
@media screen and (max-width: 1080px) {
  .page-title {
      top: 15%;
      width: 100%;
      z-index: 5;
    }
   .page-title h1 {
      font-size: 28px!important;
    }
}
.quote {
  background: url('https://az480170.vo.msecnd.net/c505b5d9-60f8-42cc-b695-5096e7b71cdb/img/orig/0145fbb2-2177-4b74-bce9-978d23ac72d0/bg-quote.png') no-repeat 50% 18%;
  float: left;
  padding: 25px 0;
}
.quote .quote-text {
  color: #ffffff;
  font-size: 25px;
  margin: 0 auto;
  width: 58%;
}
.right-menu {
  float: left;
  text-align: center;
}
/* Mobile Site Map Menu */
.sitemap {
  display: none;
  /* Table Screen Size */
  /* Mobile Screen Size */
}
@media screen and (max-width: 1080px) {
  .sitemap {
    display: block;
  }
  .sitemap .nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 0.9375em;
    position: relative;
    width: 100%;
  }
  .sitemap .nav ul li {
    float: left;
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
  }
  .sitemap .nav ul li a {
    background: #ffffff;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  .sitemap .nav ul ul {
    background: #f7941e;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }
  .sitemap .nav ul ul li {
    border-bottom: 1px solid #b1b1b1;
    border-left: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
    margin: 0;
  }
  .sitemap .nav ul ul li a {
    background: #1c2d43;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
  }
}
/* Fix Social Bar Left */
.social {
  background-color: #f7941e;
  left: 0;
  padding: 5px;
  position: fixed;
  top: 31%;
  z-index: 5;
  /* Mobile Screen Size */
}
.social icon{
    padding: 5px 0;
        }
@media screen and (max-width: 976px) {
  .social {
    display: none;
  }
}
.staff img {
  height: auto!important;
  padding: 0 0 20px 0;
  width: 100%!important;
}
.staff p {
  margin: 0;
  padding: 0;
}
/* Submit Button */
#Submit_0-1 {
  background: #f7941e;
  padding: 10px 20px;
}
@media screen and (max-width: 1080px) {
  .stay-connected {
    padding: 15px 0;
  }
}
.technologyresources {
  background: url('https://az480170.vo.msecnd.net/c505b5d9-60f8-42cc-b695-5096e7b71cdb/img/prd/31eadff9-ffd3-4ee7-9f7b-6d165de0c037/settingthemark_bg.png') repeat;
  padding: 25px 0;
}
@media screen and (max-width: 1080px) {
  .technologyresources {
    padding: 20px 0;
  }
    iframe {
        width: 100%!important;
    }
}
/* Background Top Header */
.topmenu {
  background-color: #1c2d43;
  background-color: rgba(28, 45, 67, 0.85);
}
.trtitle {
  margin: 0 0 55px 0;
}
