html,
body {
  background-color: #1c2d43;
  font-size: 100%;
}
body {
  color: #6f6f6f;
  font: 400 16px "aktiv-grotesk", sans-serif;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}
h1 {
  color: #1c2d43;
  font: 400 65px "alternate-gothic-no-3-d", sans-serif;
  text-align: center;
  text-transform: uppercase;
  /* Mobile Screen Size */
}
@media screen and (max-width: 640px) {
  h1 {
    font: 400 28px "alternate-gothic-no-3-d", sans-serif;
  }
}
h2 {
  color: #1c2d43;
  font: 400 48px "alternate-gothic-no-3-d", sans-serif;
  text-align: center;
  text-transform: uppercase;
  /* Mobile Screen Size */
}
@media screen and (max-width: 640px) {
  h2 {
    font: 400 26px "alternate-gothic-no-3-d", sans-serif;
  }
}
h3 {
  color: #1c2d43;
  font: 400 32px / 32px "alternate-gothic-no-3-d", sans-serif;
  margin: 25px 0;
  text-transform: uppercase;
  /* Mobile Screen Size */
}
@media screen and (max-width: 640px) {
  h3 {
    font: 400 24px / 24px "alternate-gothic-no-3-d", sans-serif;
  }
}
h4 {
  border-bottom: 1px solid #6f6f6f;
  color: #ffffff;
  font: 400 32px "alternate-gothic-no-3-d", sans-serif;
  padding: 0 0 25px 25px;
  /* Mobile Screen Size */
}
@media screen and (max-width: 640px) {
  h4 {
    font: 400 24px / 24px "alternate-gothic-no-3-d", sans-serif;
    padding: 10px 0 10px 25px;
  }
}
h5 {
  color: #1c2d43;
  font: 700 24px "aktiv-grotesk", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color:#1c2d43;
}
a hover {
  color:#008CBA;
}
button,
.button,
#Submit_0-1,
.MPStyle_OrangeButton {
  color: #ffffff;
  font: 400 21.33px "alternate-gothic-no-3-d", sans-serif;
  /* Mobile Screen Size */
}
@media screen and (max-width: 640px) {
  button,
  .button,
  #Submit_0-1,
  .MPStyle_OrangeButton {
    font: 400 15px "alternate-gothic-no-3-d", sans-serif;
  }
}
/* Site Specific Styles*/
.bxslider .text {
  color: #ffffff;
  font: 400 40px "alternate-gothic-no-3-d", sans-serif;
  /* Mobile Screen Size */
}
@media screen and (max-width: 640px) {
  .bxslider .text {
    font: 400 20px "alternate-gothic-no-3-d", sans-serif;
  }
}
.blogtitle a {
  color: #ffffff;
  font: 400 18.67px "aktiv-grotesk", sans-serif;
  /* Mobile Screen Size */
}
@media screen and (max-width: 640px) {
  .blogtitle a {
    font: 400 15px "aktiv-grotesk", sans-serif;
  }
}
.careertitle {
  text-align: center;
}
.careertitle p {
  color: #6f6f6f;
  font: 400 28px "aktiv-grotesk", sans-serif;
  margin: 0;
  padding: 0;
}
.careerwrap,
.resources {
  color: #6f6f6f;
  font: 400 16px "aktiv-grotesk", sans-serif;
  text-align: center;
}
.case-detail-title {
  color: #1c2d43;
  font: 400 32px "alternate-gothic-no-3-d", sans-serif;
}
.case-detail-descr {
  color: #1c2d43;
  font: 400 24px "aktiv-grotesk", sans-serif;
  line-height: 2.45rem;
}
.contact-icons {
  color: #f7941e;
  float: right;
  font-size: 18.67px;
}
.contact-location {
  color: #ffffff;
  padding: 25px 0;
}
.contact-location h5 {
  color: #ffffff;
  line-height: 3.5rem;
  text-transform: uppercase;
}
.contactus a {
  color: #ffffff;
  font: 400 18.67px "aktiv-grotesk", sans-serif;
  /* Mobile Screen Size */
}
@media screen and (max-width: 640px) {
  .contactus a {
    font: 400 15px "aktiv-grotesk", sans-serif;
  }
}
.default-menu a {
  color: #ffffff;
  font: 400 20px / 19.333px "alternate-gothic-no-3-d", sans-serif;
}
@media screen and (min-width: 1170px) and (max-width: 1270px) {
    .default-menu a {
      color: #ffffff;
      font: 400 18px / 17.333px "alternate-gothic-no-3-d", sans-serif;
    }
    .default-menu ul li a {
      font: 400 18px / 17.333px "alternate-gothic-no-3-d", sans-serif;
    }
    .default-menu ul ul li a {
      font: 400 16px/14px "alternate-gothic-no-3-d", sans-serif;
    }
}
@media screen and (min-width: 976px) and (max-width: 1170px) {
    .default-menu a {
      color: #ffffff;
      font: 400 16px / 15.333px "alternate-gothic-no-3-d", sans-serif;
    }
    .default-menu ul li a {
      font: 400 16px / 15.333px "alternate-gothic-no-3-d", sans-serif;
    }
    .default-menu ul ul li a {
      font: 400 14px/12px "alternate-gothic-no-3-d", sans-serif;
    }
}
.default-menu ul ul li a {
  font: 400 18px/16px "alternate-gothic-no-3-d", sans-serif;
}
.def-title p {
  color: #1c2d43;
  font: 400 32px "alternate-gothic-no-3-d", sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .def-title p {
    padding: 0;
    margin: 0;
  }
}
.def-text p {
  color: #1c2d43;
  font: 400 18.67px / 18.667px "aktiv-grotesk", sans-serif;
}
@media screen and (max-width: 640px) {
    .how-itworks h3 {
        text-align: center;
    }
    .how-itworks img {
        height: auto!important;
        width: 100%!important;
    }
}
.footer-social-icons a {
  color: #f7941e;
  font-size: 30px;
}
input.mp-form-field-text {
  border: 1px solid #63839d;
  clear: both;
  float: left;
  font: 400 18.67px "alternate-gothic-no-3-d", sans-serif;
  padding: 10px;
  text-transform: uppercase;
}
.inside-content .trtitle p {
  color: #6f6f6f;
  font: 400 16px "aktiv-grotesk", sans-serif;
  text-align: left;
}
.mp-form-field-input textarea {
    width: 100%;
}
.mobile-menu-icon {
  text-align: center;
}
.mobile-menu-icon a {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}
.mobile-menu-icon a .fa {
  font-size: 26px;
}
.our-process-title h2 {
  color: #f7941e;
  font: 400 40px / 21.333px "alternate-gothic-no-3-d", sans-serif;
  margin: 0 0 1.5rem 0;
}
.our-process-text {
  color: #ffffff;
}
.our-process-text h5 {
  color: #ffffff;
  font: 400 32px "alternate-gothic-no-3-d", sans-serif;
  margin: 0 0 1.5rem 0;
}
.page-title h1,.inside-banner .text h1 {
  color: #ffffff;
  font: 400 65px "alternate-gothic-no-3-d", sans-serif;
  text-align: center;
}
.social .title {
  color: #ffffff;
  float: left;
  font: 400 13.33px "alternate-gothic-no-3-d", sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.social .icon {
  clear: both;
  float: left;
  text-align: center;
  width: 100%;
}
.social .icon a {
  color: #ffffff;
  font-size: 26px;
}
.staff {
  color: #1c2d43;
  font: 400 16px "aktiv-grotesk", sans-serif;
  text-align: center;
}
.staff .staff-social-icons a {
  color: #aaaaaa;
  font-size: 22px;
}
.stay-connected form {
  position: relative;
}
.stay-connected form input, input.mp-form-field-input {
  background: transparent;
  border: 1px solid #6f6f6f;
  color: #6f6f6f;
  font: 400 16px "aktiv-grotesk", sans-serif;
  margin: 10px 20px;
  padding: 5px;
  width: 95%;
}
.stay-connected form input[type='submit'],#Submit_0-1 {
  background: url(https://az480170.vo.msecnd.net/c505b5d9-60f8-42cc-b695-5096e7b71cdb/img/prd/1575227b-a227-41d6-ba4c-91e7a90a75ba/submit-arrow.png) no-repeat;
  border: none;
  left: 91%;
  padding: 5px;
  position: absolute;
  top: -44px;
  width: auto;
  z-index: 5;
}
.stay-connected form label {
  color: #ffffff;
  font: 400 32px "alternate-gothic-no-3-d", sans-serif;
  padding: 0 20px;
  width: 100%;
}
textarea.mp-form-field-textarea {
  border: 1px solid #63839d;
  float: left;
  font: 400 18.67px "alternate-gothic-no-3-d", sans-serif;
  padding: 10px;
  text-transform: uppercase;
}
.trtitle p {
  color: #6f6f6f;
  font: 400 16px "aktiv-grotesk", sans-serif;
  /* Mobile Screen Size */
}
@media screen and (max-width: 640px) {
  .trtitle p {
    font: 400 18px "aktiv-grotesk", sans-serif;
  }
}
