.banner {
  border-bottom: 10px solid #ee7f34;
}
.banner img {
    height: auto!important;
    width: 100%!important;
}
.banner-services {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
.banner-services .ds {
  float: left;
  left: 14%;
  position: relative;
}
.banner-services .dp {
  float: left;
  left: 20%;
  position: relative;
}
.banner-services .dg {
  float: left;
  left: 23%;
  position: relative;
}
.banner-services .ct {
  float: left;
  left: 29%;
  position: relative;
}
.bannerwrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.bannerwrap .text {
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}
.bannerwrap
.bbanner {
  background: #ee7f34;
}
.bg-blue {
  background: #004576;
}
.bg-gray {
  background: #f0f0f0;
}
.bg-white {
  background: #ffffff;
}
.blogwrap .blog-img {
  text-align: center;
  width: 100%;
}
.blogwrap .blog-img img {
  border: 5px solid #004576;
  width: 100%;
}
.button {
  padding: .5rem 2rem .5625rem 2rem;
}
.bxslider .bannerwrap {
  margin: 0 auto;
  width: 1070px;
  display: block;
  overflow: hidden;
}
.bxslider .banner-lines {
  left: 30%;
  position: absolute;
  text-align: center;
  top: 39%;
  width: 100%;
}
.bxslider .banner-lines img {
  width: auto;
}
.ckeditor_contentArea {
    background: #ffffff;
    color: #000000;
}
.header-section {
  min-width: 100%;
  position: fixed;
  z-index: 999;
}
.fixed-menu-padding {
  padding: 23px 0;
}
.flex-area {
  background: #ebebeb;
  padding: 25px 0;
}
footer {
  margin: 25px 0;
}
footer form {
  position: relative;
}
footer form input {
  background: transparent;
  border: 3px solid #90acbf;
  margin: 0 0 1.0rem 0;
  padding: 5px 10px;
  width: 100%;
}
footer form input[type='submit'] {
  background: url('https://az480170.vo.msecnd.net/e2ce2d76-02ff-4ebc-8e64-519164387db4/img/prd/a7875f38-2681-415a-8f50-32780b6119e4/submit-arrow.png') no-repeat;
  border: none;
  bottom: 0;
  margin: 0 0 12px 0;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 10;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 0 0 1.0rem 0;
}
footer .social .icon {
  float: left;
  margin: 0 8px 0 0;
}
header .social {
  background-color: #7e8da3;
  left: 0;
  position: fixed;
  top: 28%;
  z-index: 55;
}
header .social .icon {
  display: block;
  clear: both;
  float: left;
  width: 100%;
}
header .social .ic-fb {
  background: #3a579a;
}
header .social .ic-gp {
  background: #d34a32;
}
header .social .ic-ig {
  background: #cf5857;
}
header .social .ic-li {
  background: #3d7ab8;
}
header .social .ic-rs {
  background: #d86700;
}
header .social .ic-tw {
  background: #5ba2dc;
}
header .social .ic-yt {
  background: #c11f16;
}
header .social .title {
  float: left;
  clear: both;
  padding: 0 5px;
}
.search {
  color: #ffffff;
  float: right;
  position: relative;
  top: 15%;
}
.search a {
  color: #ffffff;
}
#MPCMSContent_inner main {
    padding: 100px 0 0 0;
}
.MPStyle_BlueButton {
  background: #004576;
}
.MPStyle_OrangeButton {
  background: #ee7f34;
}
.new-cms {
  padding: 25px 0;
}
.project-detail p {
    margin: 0;
    padding: 0;
}
.project-detail ul {
    margin: 0 0 0 40px;
}
.project-img img {
    height: auto!important;
        width: 100%!important;
}
.project-layout {
    background: #ffffff;
    padding: 170px 0 0 0;
}
.our-insights {
  background: #ebebeb;
  padding: 25px 0;
}
.ourwork {
  background: #ebebeb;
  padding: 25px 0;
}
.ourwork hr {
  background: #004576;
  display: inline-block;
  height: 1px;
  margin: 0;
  width: 10%;
}
.ourwork .ourwork-title {
  width: 100%;
}
.service-detail {
    display: none;
}
.show {
    display: block;
}
.slide-down-menu {
  display: none;
  background: #122355;
  background: rgba(18, 35, 85, 0.85);
  padding: 30px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
}
.slide-down-menu .sd-menu-form {
  float: left;
  padding: 0 0 0 0.9375em;
  width: 33.333%;
}
.slide-down-menu .sd-menu-form form {
  position: relative;
}
.slide-down-menu .sd-menu-form form input {
  background: transparent;
  border: 3px solid #90acbf;
  margin: 0 0 1.0rem 0;
  padding: 5px 10px;
  width: 100%;
}
.slide-down-menu .sd-menu-form form input[type='submit'] {
  background: #ee7f34;
  border: none;
  padding: .5rem 2rem .5625rem 2rem;
  width: auto;
}
.topmenu {
  background: -webkit-linear-gradient(#122355, transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#122355, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#122355, transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#122355, transparent);
  /* Standard syntax */
}
.web-services {
  background: #ee7f34;
  color: #ffffff;
  padding: 25px 0;
}
.web-services .web-title hr {
  width: 30%;
  float: left;
  clear: none;
  margin: 48px 0 0 0;
  background: #fff;
  height: 1px;
}
