html,
body {
  background: #004576;
  font-size: 100%;
}
body {
  color: #004576;
  font: 300 16px / 24px 'FrutigerNeue1450W01-Reg';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}
h1 {
  color: #ffffff;
  font: 700 42px 'FrutigerNeue1450W01-Reg';
  margin: 0 0 1rem 0;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 641px) and (max-width: 965px) {
    h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 640px) {
    h1 {
        font-size: 20px;
        margin: 0;
    }
}
h2 {
  color: #004576;
  font: 700 24px / 24px 'FrutigerNeue1450W01-Reg';
  text-transform: lowercase;
  width: 100%;
}
@media screen and (max-width: 640px) {
    h2 {
        font-size: 19px;
        margin: 0;
    }
}
h3 {
  color: #004576;
  font: 700 21.33px 'FrutigerNeue1450W01-Reg';
  margin: 25px 0;
  text-transform: lowercase;
}
@media screen and (max-width: 640px) {
    h3 {
        font-size: 18px;
        margin: 0;
    }
}
h4 {
  color: #ee7f34;
  font: 700 24px 'FrutigerNeue1450W01-Reg';
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 2.5rem 0;
}
@media screen and (max-width: 640px) {
    h4 {
        font-size: 17px;
        margin: 0;
    }
}
h5 {
  color: #ffffff;
  font: 700 24px 'FrutigerNeue1450W01-Reg';
  margin: 0 0 1.0rem 0;
  padding: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
    h5 {
        font-size: 16px;
        margin: 0;
    }
}
blockquote {
    background: url("https://az480170.vo.msecnd.net/e2ce2d76-02ff-4ebc-8e64-519164387db4/img/orig/78752896-2566-4932-9c6b-78efde1f319b/quotebg.png");
    min-height:203px;
    padding:40px 60px;
    color:#004576;
}
button,
.button,
#Submit_0-1,
.MPStyle_OrangeButton {
  color: #ffffff;
  font: 700 16px 'FrutigerNeue1450W01-Reg';
  text-transform: lowercase;
}
.MPStyle_OrangeButton a {
    color: #ffffff;
}
/* Site Specific Styles*/
.bannerwrap .text {
    color: #ffffff;
    font: 700 32px 'FrutigerNeue1450W01-Reg';
}
.bannerwrap .text h1 a {
    color: #ffffff;
}
@media screen and (min-width: 641px) and (max-width: 965px) {
    .bannerwrap .text {
        font-size: 26px;
    }
}
.banner-services a {
  color: #ffffff;
  font: 400 22px 'FrutigerNeue1450W01-Reg';
}
.blogwrap .blog-descr {
  color: #014272;
  font: 300 13.33px 'FrutigerNeue1450W01-Reg';
}
.blog-landing-page .blog-title {
    color: #004576;
    font: 700 18px / 21px 'FrutigerNeue1450W01-Reg';
    padding: 0 0 5px 0;
    text-transform: lowercase;
    width: 100%;
        }
.blogwrap .blog-readmore {
  text-align: center;
}
.blogwrap .blog-title {
  color: #014272;
  font: 700 16px 'FrutigerNeue1450W01-Reg';
  margin: 2.0rem 0;
  text-align: center;
  text-transform: uppercase;
}
.bxslider2 h2 {
    color: #004576;
    float: left;
    font: 700 24px / 34px 'FrutigerNeue1450W01-Reg';
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.case-study,.case-study a,.case-study h2 {
    color: #ffffff;
}
.cke_skin_mpcustom .cke_rcombo .cke_text {
    height: 26px;
}
.contact-form .mp-form-field-label {
    color: #06315d;
    float: left;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 4px;
}
.contact-form input {
    color: #06315d;
}
.contact-form #Submit_0-2 {
    color: #ffffff;
    text-transform: lowercase;
}
.flex-area h1 {
    color: #004576;
    margin: 0;
 }
.flex-area .flex-text {
  text-align: left;
}
footer {
  color: #ffffff;
  font: 300 16px 'FrutigerNeue1450W01-Reg';
}
footer a {
  color: #ffffff;
}
footer .contact-wrap a {
  color: #ee7f34;
}
footer .social .icon a {
  background: #ee7f34;
  color: #004576;
  height: 35px;
  font-size: 20px;
  width: 35px;
}
@media screen and (max-width: 965px) {
    .logo {
        text-align: center;
    }
}
.mobile-menu-icon {
    color: #ffffff;
    padding: 5px 0 0 5px;
    font-size: 42px;
}
.mobile-menu-icon.mobile-right {
    background: #122355;
    color: #ee7f34;
    font-size: 24px;
    padding: 0 0 5px 0;
    position: absolute;
    right: 0;
 }
.mobile-web-services .mobile-icon {
    color: #ee7f34;
    text-align: center;
}
.mobile-web-services .mobile-text {
    color: #ffffff;
}
.mp-list-entry-posted-info {
    font-size: 14px;
}
.mp-list-entry-tags-title {
    font-weight: 700;
}
.mp-list-paging-wrapper {
    float: left;
    font-size: 14px;
    padding: 5px 0;
    width: 100%;
}
.MPStyle_CapBlueFont h3 {
  color: #004576;
  font: 700 21.33px 'FrutigerNeue1450W01-Reg';
  text-transform: uppercase;
}
.MPStyle_ProjectDetails {
    color: #004172;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
#MPCMSContent_inner .service-detail h2 {
    display: block;
 }
.mp-list-by-category .mp-list-area-entries {
    float: left;
    padding: 0 0.9375em 0 0;
    width: 66.66667%;
}
.mp-list-by-category .mp-list-area-archive {
    float: left;
    padding: 0 0 0 0.9375em;
    width: 33.33333%;
}
.mp-list-categories-title {
    font-size: 125%;
    font-weight: bold;
}
.mp-list-by-category > h1 {
        display: none;
}
.mp-list-archive,.mp-list-archive a,.mp-list-categories,.mp-list-categories a {
    color: #ffffff;
}
@media screen and (max-width: 965px) {
    nav.default-menu {
        display: none;
    }
}
nav ul {
  font: 300 18.67px 'FrutigerNeue1450W01-Reg';
  list-style: none;
  margin: 0;
  padding: 0;
}
nav #Default {
  float: right;

  position: relative;
  top: 15%;
}
nav #Default ul {
    float: left;
    min-height: 80px;
    width: 100%;
}
nav #Default ul li {
  float: left;
}
nav #Default ul li a {
  color: #ffffff;
  padding: 0 20px;
}
nav #Default ul:hover li {
    background: url(https://az480170.vo.msecnd.net/e2ce2d76-02ff-4ebc-8e64-519164387db4/img/orig/4b3aa5fb-b2f3-484f-ad39-46c5a2c762ff/evensmall-downarrow.png) right no-repeat;
}
nav #Default ul:hover li a {
  color: #ee7f34;
}
nav #Default ul ul {
  display: none;
}
nav.sd-menu a {
  color: #ffffff;
}
nav.sd-menu ul {
  float: left;
  width: 66.666%;
}
nav.sd-menu ul > li:nth-child(1),
nav.sd-menu ul > li:nth-child(3) {
  padding: 0 0.9375em 0 0;
}
nav.sd-menu ul > li:nth-child(2),
nav.sd-menu ul > li:nth-child(4) {
  padding: 0 0.9375em;
}
nav.sd-menu ul li {
  border-right: 1px solid #ffffff;
  float: left;
  width: 50%;
}
nav.sd-menu ul li a {
  font: 700 28px / 36px 'FrutigerNeue1450W01-Reg';
  float: left;
  text-transform: uppercase;
  width: 100%;
}
nav.sd-menu ul li a:hover {
  color: #ee7f34;
}
nav.sd-menu ul ul {
  margin: 0 0 0.9375em 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  width: 100%;
}
nav.sd-menu ul ul li {
  border: none;
  float: left;
  padding: 0!important;
  width: 100%;
  flex: 1 1 100%;
}
nav.sd-menu ul ul li a {
  font: 18.67px / 36px 'FrutigerNeue1450W01-Reg';
  text-transform: none;
  width: 100%;
}
nav.sd-menu ul ul li a:hover {
  color: #ee7f34;
}
nav.mobile-menu {
    background: #122355;
    display: none;
    float: left;
    padding: 10px;
    width: 94%;
}
nav.mobile-menu .fa {
    color: #fff;
    padding: 6px 0 0 0;
    float: right;
}
nav.mobile-menu .fa-arrow-circle-up {
    display: none;
}
nav.mobile-menu .sub-menu .fa-arrow-circle-up {
    display: block;
}
nav.mobile-menu .sub-menu .fa-arrow-circle-down {
    display: none;
}
nav.mobile-menu ul {
    float: left;
    width: 100%;
}
nav.mobile-menu ul li {
    border-top: 1px solid #004576;
    float: left;
    color: #ffffff;
    cursor: pointer;
    float: left;
    padding: 10px;
    width: 100%;
}
nav.mobile-menu ul ul li:last-child {
    border-bottom: 1px solid #004576;
}
nav.mobile-menu ul ul li a {
    color: #ffffff;
    float: left;
    padding: 10px;
    width: 90%;
}
nav.mobile-menu ul ul {
    display: none;
    margin: 0;
}
nav.mobile-menu ul ul ul {
    display: none;
}
nav.mobile-menu ul li.sub-menu ul {
    display: block;
}
nav.mobile-menu ul ul ul li {
    border: none;
    padding: 0;
}
nav.mobile-menu ul ul  li:last-child {
    border: none;
}
nav.mobile-menu ul ul ul li a {
    border-top: 1px solid #004576;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px;
}
.new-cms {
  color: #ffffff;
  text-align: center;
}
.project-layout h1 {
    color: #004172;
    font-size: 48px;
}
.ourwork {
  text-align: center;
}
.ourwork h2 {
  display: inline-block;
  margin: 30px 0;
  vertical-align: middle;
  width: 18%;
}
.sd-close {
  color: #ffffff;
  float: right;
  text-align: right;
}
.sd-close .fa {
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 3px 0 3px 3px;
}
.sd-menu-form .sd-form-title {
  color: #ffffff;
  float: left;
  font: 700 28px / 36px 'FrutigerNeue1450W01-Reg';
  margin: 0 0 0.9375em 0;
  text-transform: uppercase;
}
.sd-menu-form .mp-form-field {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
}
.sd-menu-form .mp-form-wrapper {
    width: 100%;
}
.sd-menu-form form input,.sd-menu-form .mp-form-field-input input {
  color: #ffffff;
}
.sd-menu-form form input[type='submit'],.sd-menu-form #Submit_0-1 {
  font: 700 16px 'FrutigerNeue1450W01-Reg';
  text-transform: lowercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-color: #ee7f34;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
  background: #ee7f34;
}
.service-detail h2 {
    display: none;
}
#Submit_0-1 {
    color: #ffffff;
    font: 700 16px 'FrutigerNeue1450W01-Reg';
    text-transform: lowercase;
    margin: 0 auto;
    background: #004576;
    padding: 10px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-color: #007095;
    transition: background-color 300ms ease-out;
}
.social {
  text-align: center;
}
.social .icon a {
  color: #ffffff;
  display: block;
  font-size: 25px;
  padding: 5px 0;
}
.tab-links a {
    color: #ffffff;
}
.tab-links .active {
    text-transform: uppercase;
}
.team-bio .social li,.team-bio .social li a {
    color: #ee7f34;
    font-size: 45px;
}
.toppost,.toppost a, .toppost h2 {
    color: #ffffff;
}
.web-services {
  text-align: center;
}
.web-services .challenge{
    text-align:left;
        }
.web-services .results{
    text-align:left;
        }
.web-services .webdesign a,
.web-services .webapp a,
.web-services .cms a,
.web-services .marketing a {
  color: #ffffff;
  font: 300 18.67px 'FrutigerNeue1450W01-Reg';
}
.web-services .webdesign a:hover,
.web-services .webapp a:hover,
.web-services .cms a:hover,
.web-services .marketing a:hover {
  font: 700 18.67px 'FrutigerNeue1450W01-Reg';
}
.web-services  .web-service-detail .active a {
  color: #ee7f34;
  font: 300 18.67px 'FrutigerNeue1450W01-Reg';
}
.web-services .web-service-detail .active a:hover {
  color: #ffffff;
  font: 700 18.67px 'FrutigerNeue1450W01-Reg';
}
.web-title {
  margin: 0 auto;
}
.web-title h3 {
  border: 2px solid #ffffff;
  float: left;
  padding: 10px 15px;
  text-align: center;
  width: 42%;
}
@media screen and (max-width: 965px) {
    .web-title h3 {
        width: 100%;
    }
}
.web-services.bg-blue .tab-links .hoverimg a {
    color: #ee7f34;
    text-transform: uppercase;
}
.web-services.bg-blue .web-title h3 {
  border: 2px solid #ee7f34;
  color: #ee7f34;
  text-transform: uppercase;
}
.web-services.home-page .web-title h3 {
  color: #004576;
}
.web-services .blue-text.active,.web-services .blue-text.active a {
  color: #004576;
  font-weight: 700;
  text-transform: uppercase;
}
