html,
body {
  background: #004576;
  font-size: 100%;
}
body {
  color: #004576;
  font: 300 16px / 24px 'FrutigerNeue1450W01-Reg';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}
h1 {
  color: #ffffff;
  font: 700 32px 'FrutigerNeue1450W01-Reg';
  margin: 0 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
  /* Mobile Screen Size */
}
h2 {
  color: #004576;
  font: 700 24px / 18.667px 'FrutigerNeue1450W01-Reg';
  text-transform: lowercase;
  width: 100%;
  /* Mobile Screen Size */
}
h3 {
  color: #004576;
  font: 700 21.33px 'FrutigerNeue1450W01-Reg';
  margin: 25px 0;
  text-transform: lowercase;
  /* Mobile Screen Size */
}
h4 {
  color: #ee7f34;
  font: 700 24px 'FrutigerNeue1450W01-Reg';
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 2.5rem 0;
  /* Mobile Screen Size */
}
h5 {
  color: #ffffff;
  font: 700 24px 'FrutigerNeue1450W01-Reg';
  margin: 0 0 1.0rem 0;
  padding: 0;
  text-transform: uppercase;
}
button,
.button,
#Submit_0-1,
.MPStyle_OrangeButton {
  color: #ffffff;
  font: 700 16px 'FrutigerNeue1450W01-Reg';
  text-transform: lowercase;
  /* Mobile Screen Size */
}
/* Site Specific Styles*/
.bannerwrap .text {
    color: #ffffff;
    font: 700 48px 'FrutigerNeue1450W01-Reg';
}

.banner-services a {
  color: #ffffff;
  font: 400 22px 'FrutigerNeue1450W01-Reg';
}
.blogwrap .blog-descr {
  color: #014272;
  font: 300 13.33px 'FrutigerNeue1450W01-Reg';
}
.blogwrap .blog-readmore {
  text-align: center;
}
.blogwrap .blog-title {
  color: #014272;
  font: 700 16px 'FrutigerNeue1450W01-Reg';
  margin: 2.0rem 0;
  text-align: center;
  text-transform: uppercase;
}
.cke_skin_mpcustom .cke_rcombo .cke_text {
    height: 26px;
}
.flex-area {
  text-align: center;
}
.flex-area .flex-text {
  text-align: left;
}
footer {
  color: #ffffff;
  font: 300 16px 'FrutigerNeue1450W01-Reg';
}
footer a {
  color: #ffffff;
}
footer .contact-wrap a {
  color: #ee7f34;
}
footer .social .icon a {
  background: #ee7f34;
  color: #004576;
  height: 35px;
  font-size: 20px;
  width: 35px;
}
.MPStyle_ProjectDetails {
    color: #004172;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
nav ul {
  font: 300 18.67px 'FrutigerNeue1450W01-Reg';
  list-style: none;
  margin: 0;
  padding: 0;
}
nav #Default {
  float: right;
  position: relative;
  top: 15%;
}
nav #Default ul li {
  float: left;
}
nav #Default ul li a {
  color: #ffffff;
  padding: 0 20px;
}
nav #Default ul ul {
  display: none;
}
nav.sd-menu a {
  color: #ffffff;
}
nav.sd-menu ul {
  float: left;
  width: 66.666%;
}
nav.sd-menu ul > li:nth-child(1),
nav.sd-menu ul > li:nth-child(3) {
  padding: 0 0.9375em 0 0;
}
nav.sd-menu ul > li:nth-child(2),
nav.sd-menu ul > li:nth-child(4) {
  padding: 0 0.9375em;
}
nav.sd-menu ul li {
  border-right: 1px solid #ffffff;
  float: left;
  width: 50%;
}
nav.sd-menu ul li a {
  font: 700 28px / 36px 'FrutigerNeue1450W01-Reg';
  float: left;
  text-transform: uppercase;
  width: 100%;
}
nav.sd-menu ul ul {
  margin: 0 0 0.9375em 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
}
nav.sd-menu ul ul li {
  border: none;
  float: left;
  padding: 0!important;
  width: 100%;
  flex: 1 1 100%;
}
nav.sd-menu ul ul li a {
  font: 18.67px / 36px 'FrutigerNeue1450W01-Reg';
  text-transform: none;
  width: 100%;
}
.new-cms {
  color: #ffffff;
  text-align: center;
}
.project-layout h1 {
    color: #004172;
    font-size: 48px;
}
.ourwork {
  text-align: center;
}
.ourwork h2 {
  display: inline-block;
  margin: 30px 0;
  vertical-align: middle;
  width: 18%;
}
.sd-close {
  color: #ffffff;
  float: right;
  text-align: right;
}
.sd-close .fa {
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 3px 0 3px 3px;
}
.sd-menu-form .sd-form-title {
  color: #ffffff;
  float: left;
  font: 700 28px / 36px 'FrutigerNeue1450W01-Reg';
  margin: 0 0 0.9375em 0;
  text-transform: uppercase;
}
.sd-menu-form form input {
  color: #ffffff;
}
.sd-menu-form form input[type='submit'] {
  font: 700 16px 'FrutigerNeue1450W01-Reg';
  text-transform: lowercase;
}
.social {
  text-align: center;
}
.social .icon a {
  color: #ffffff;
  display: block;
  font-size: 25px;
  padding: 5px 0;
}
.web-services {
  text-align: center;
}
.web-services .webdesign a,
.web-services .webapp a,
.web-services .cms a,
.web-services .marketing a {
  color: #ffffff;
  font: 300 18.67px 'FrutigerNeue1450W01-Reg';
}
.web-services .webdesign a:hover,
.web-services .webapp a:hover,
.web-services .cms a:hover,
.web-services .marketing a:hover {
  font: 700 18.67px 'FrutigerNeue1450W01-Reg';
}
.web-title {
  margin: 0 auto;
}
.web-title h3 {
  border: 2px solid #ffffff;
  float: left;
  padding: 10px 15px;
  text-align: center;
  width: 39%;
}
