.banner {
    border-bottom: 5px solid;
    position: relative;

    .banner-img {
        &.mobile-home {
            display: none;
        }

        @media only screen and (max-width: 640px) {
            background: #231f20;
            padding: 167px 0 0 0;

            &.home-page {
                display: none;
            }

            &.mobile-home {
                display: block;
                padding: 0;
            }
        }
    }

    .banner-img img {
        height: auto!important;
        width: 100%!important;
    }

    .banner-img p {
        margin: 0;
        padding: 0;
    }

    .banner-txt {
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 5;

        @media only screen and (max-width: 640px) {
            bottom: 5%;
            top: inherit;
        }
    }

    .banner-txt.inside {
        top: 75%;
    }

    .bb-section {
        bottom: 5%;
        margin: 0 auto;
        max-width: 1168px;
        position: absolute;

        .columns {
            @media only screen and (max-width: 640px) {
                padding: 0!important;
            }

            &:first-child {
                padding: 0 58px 0 0;
            }

            &:nth-child(2) {
                padding: 0 38px 0 19px;
            }

            &:nth-child(3) {
                padding: 0 19px 0 38px;
            }

            &:last-child {
                padding: 0 0 0 58px;
            }

        }

        @media only screen and (max-width: 640px) {
            background: rgb(35, 31, 32);
            background: rgba(35, 31, 32, 0.75);
            position: relative;
        }
    }

    .banner-box {
        background: rgb(35, 31, 32);
        background: rgba(35, 31, 32, 0.75);
        float: left;
        margin: 0 auto;
        padding: 20px;
        min-height: 184px;
        outline: 1px solid #ffdf1b;
        outline-offset: -10px;
        width: 100%;

        @media only screen and (max-width: 640px) {
            background: none;
            float: none;
            padding: 35px;
            width: 70%;
        }

        img {
            width: inherit;
        }

        p {
            margin: 0;
            padding: 0;
        }

    }
}
.bg-page {
    background: #ffffff;
    padding: 25px 0;
}
.blog-feed {
    float: left;

    @media only screen and (max-width: 640px) {
        padding: 0 0.9375em;
    }

    .blog-article-wrap {
        background-color: #e5e5e5;
        float: left;
        margin: 0 0 25px 0;

        .blog-img {
            float: left;
            width: 100%;

            img {
                height: auto;
                outline: 1px solid #ffffff;
                outline-offset: -10px;
                width: 100%;
            }
        }

        .blog-article-title {
            float: left;
            padding: 20px 20px 0 20px;
            width: 100%;
        }

        .blog-author {
            float: left;
            padding: 0 20px 20px;
            width: 100%;
        }

        .see-all-news {
            float: left;
            padding: 25px 0 30px 0;
            width: 100%;
        }
    }
}
.ckeditor_contentArea {
    background: #ffffff;
}
.cta {
    background: #ffffff url(https://az480170.vo.msecnd.net/4f15b379-a245-467c-ac0a-5bd78facf7ea/img/prd/794c42aa-0ef0-4eda-a84e-c0003cbf7494/bg-cta.png);
    background-size: cover;
    border-top: 5px solid #cccccc;
    padding: 45px 0;

    p:last-child {
        margin: 0;
        padding: 0;
    }
}
.content {
    float: left;
    width: 100%;

    ul {
        list-style: none;

        li {
            background: url(https://az480170.vo.msecnd.net/4f15b379-a245-467c-ac0a-5bd78facf7ea/img/prd/1fcc5ee3-b070-452b-ba5a-59bcbe51b657/bg-li.png) 0 7px no-repeat;
            float: left;
            padding: 0 0 0 30px;
            width: 100%;
        }
    }
}
.flex {
    display: flex;
}
.flex-area {
    background: #ffffff;
    padding: 30px 30px 0;
}
footer {
    padding: 35px 0;
}
header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header-section {
  display: inline-block;
  padding: 10px;
  position: relative;
  width: 100%;

    @media only screen and (max-width: 640px) {
        display: none;
    }
}
img.pika {
    outline: 1px solid #ffffff;
    outline-offset: -10px;
}
.inside-feed {
    .blog-article-wrap {
        background: none;

        .blog-img {
            width: 40%;

            img {
                outline-offset: -5px;
            }
        }

        .blog-article-title {
            padding: 10px;
            width: 60%;
        }
    }
}
.large-left {
    float: left;
    padding: 0 1.875em 0 0;
}
.menu-logo {
    float: left;
    padding: 0 0 10px 0;
}
.menu-logo img {
    height: auto;
    width: 75%;
}
.mobile-logo {
    display: block;
    text-align: center;
    width: 100%;
}
.mobile-menu-icon {
    display: none;
    float: left;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 965px) {
    .mobile-menu-icon {
        display: block;
    }
    .mobile-right {
        float: none;
        padding: 10px 5px 0 0;
        position: absolute;
        right: 0;
        top: 0;
     }
}
#MPCMSContent_inner .banner{
    padding: 140px 0 0 0;
}
.MPStyle_ImgOutline {
    outline: 1px solid #ffffff!important;
    outline-offset: -10px!important;
}
.my-5 {
    width: 20%;

    @media only screen and (max-width: 640px) {
        &.team-member {
            min-height: 350px;
            width: 50%;
        }
    }
}
.pika-scrollable-bottom .pika-thumbs li {
    background: none;
    padding: 0;
}
.pikachoose {
    width: 100%!important;

    .pika-stage {
        height: auto!important;
        width: 100%!important;

        .pika-stage-inner img {
            display: inline;
            height: auto!important;
            left: 0!important;
            outline: 1px solid #ffffff;
            outline-offset: -10px;
            width: 100%!important;
        }
    }

    .jcarousel-skin-pika .jcarousel-container-horizontal {
        padding: 10px;
        width: 100%!important;

        img {
            height: auto;
            width: 100%;
        }

        .jcarousel-item-horizontal {
            margin: 0 12px;
            padding: 0;
        }

        .jcarousel-prev,.jcarousel-next {
            display: none!important;
        }
    }
}
.project {
    background-color: #f1f1f1;
    float: left;
    margin: 0 0 25px 0;
    padding: 25px 20px;
    width: 100%;
}
.project-page {
    float: left;
}
.project-detail {
    float: left;
    padding: 10px 30px;
    width: 100%;

    img {
        outline: 1px solid #7c88c8;
        outline-offset: -10px;
    }

    p:last-child {
        margin: 0;
        padding: 0;
    }
}
.project-page {

    .project-detail {
        padding: 0;
    }

    .project-detail-text {
        float: left;
        padding: 20px 0 0 0;
        width: 100%;
    }
}

.project-wrap {
    float: left;
    padding: 0 20px 0 0;

    @media only screen and (max-width: 640px) {
        padding: 0;
    }
}
.service-area {
    float: left;
    width: 100%;
}
.services {
    float: left;
    padding: 0 0.9375em;


    img {
        height: auto!important;
        outline: 1px solid #ffffff;
        outline-offset: -10px;
        width: 100%!important;
    }

}
.sitemap {
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    @media only screen and (max-width: 640px) {
        display: block;
    }
}
.social-media {
    background-color: #ffdf1b;
    padding: 45px 0;

    p:last-child {
        margin: 0;
        padding: 0;
    }
}
.team-title {
    float: left;
}
.team-member {
    float: left;
    padding: 25px 0.9375em 0 0.9375em;

    img {
        height: auto!important;
        margin: 0 0 10px 0!important;
        outline: 1px solid #ffffff;
        outline-offset: -10px;
        width: 100%!important;
    }

    p {
        margin: 0;
        padding: 0;
    }

}
.team-wrap {
    float: left;
    margin: 0 0 40px 0;
}
