/* -------------------------------------------------------------------
    TABLE OF CONTENTS
----------------------------------------------------------------------
    1 -- normalize.css     | HTML5 alternative to browser resets | minified, no need to modify
    2 -- foundation.css | Responsive grid and default styles | minified, no need to modify
    3 -- site.css         | Custom styles for this site
    4 -- mediaquery.css | Media Query CSS
----------------------------------------------------------------------
------------------------------------------------------------------- */
/* Available Fonts

font-family:'Campton W00 Light';
font-family:'Campton W00 Light Italic';
font-family:'Campton W00 Medium';
font-family:'Campton W00 Medium Italic';
font-family:'Campton W00 Bold';
font-family:'Campton W00 Bold Italic';
font-family:'Campton W00 Black';
font-family:'Campton W00 Black Italic';

*/

/* -------------------------------------------------------------------
1 -- normalize.css     | HTML5 alternative to browser resets | minified
------------------------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}script{display:none!important}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:0 0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}form{margin:0;}



2 -- foundation.css | Responsive grid and default styles | minified
------------------------------------------------------------------- */
meta.foundation-mq-small{font-family:"only screen and (min-width: 768px)";width:768px}meta.foundation-mq-medium{font-family:"only screen and (min-width:1280px)";width:1280px}meta.foundation-mq-large{font-family:"only screen and (min-width:1440px)";width:1440px}*,:after,:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}body,html{font-size:100%}body{background:#fff;color:#222;padding:0;margin:0;font-family:"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;font-weight:400;font-style:normal;line-height:1;position:relative;cursor:default}a:hover{cursor:pointer}embed,img,object{max-width:100%;height:auto}embed,object{height:100%}img{-ms-interpolation-mode:bicubic}#map_canvas embed,#map_canvas img,#map_canvas object,.map_canvas embed,.map_canvas img,.map_canvas object{max-width:none!important}.left{float:left!important}.right{float:right!important}.text-left{text-align:left!important}.text-right{text-align:right!important}.text-center{text-align:center!important}.text-justify{text-align:justify!important}.hide{display:none}.antialiased{-webkit-font-smoothing:antialiased}img{display:inline-block;vertical-align:middle}textarea{min-height:50px}select{width:100%}.row{width:100%;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0;max-width:942px;;*zoom:1}.row:after,.row:before{content:" ";display:table}.row:after{clear:both}.row.collapse>.column,.row.collapse>.columns{position:relative;padding-left:0;padding-right:0;float:left}.row.collapse .row{margin-left:0;margin-right:0}.row .row{width:auto;margin-left:-15px;margin-right:-15px;margin-top:0;margin-bottom:0;max-width:none;*zoom:1}.row .row:after,.row .row:before{content:" ";display:table}.row .row:after{clear:both}.row .row.collapse{width:auto;margin:0;max-width:none;*zoom:1}.row .row.collapse:after,.row .row.collapse:before{content:" ";display:table}.row .row.collapse:after{clear:both}.column,.columns{position:relative;padding-left:15px;padding-right:15px;width:100%;float:left}@media only screen{.column,.columns{position:relative;padding-left:15px;padding-right:15px;float:left}.small-1{position:relative;width:8.33333%}.small-2{position:relative;width:16.66667%}.small-3{position:relative;width:25%}.small-4{position:relative;width:33.33333%}.small-5{position:relative;width:41.66667%}.small-6{position:relative;width:50%}.small-7{position:relative;width:58.33333%}.small-8{position:relative;width:66.66667%}.small-9{position:relative;width:75%}.small-10{position:relative;width:83.33333%}.small-11{position:relative;width:91.66667%}.small-12{position:relative;width:100%}.small-offset-0{position:relative;margin-left:0}.small-offset-1{position:relative;margin-left:8.33333%}.small-offset-2{position:relative;margin-left:16.66667%}.small-offset-3{position:relative;margin-left:25%}.small-offset-4{position:relative;margin-left:33.33333%}.small-offset-5{position:relative;margin-left:41.66667%}.small-offset-6{position:relative;margin-left:50%}.small-offset-7{position:relative;margin-left:58.33333%}.small-offset-8{position:relative;margin-left:66.66667%}.small-offset-9{position:relative;margin-left:75%}.small-offset-10{position:relative;margin-left:83.33333%}[class*=column]+[class*=column]:last-child{float:right}[class*=column]+[class*=column].end{float:left}.column.small-centered,.columns.small-centered{position:relative;margin-left:auto;margin-right:auto;float:none!important}}@media only screen and (min-width:768px){.large-1{position:relative;width:8.33333%}.large-2{position:relative;width:16.66667%}.large-3{position:relative;width:25%}.large-4{position:relative;width:33.33333%}.large-5{position:relative;width:41.66667%}.large-6{position:relative;width:50%}.large-7{position:relative;width:58.33333%}.large-8{position:relative;width:66.66667%}.large-9{position:relative;width:75%}.large-10{position:relative;width:83.33333%}.large-11{position:relative;width:91.66667%}.large-12{position:relative;width:100%}.row .large-offset-0{position:relative;margin-left:0}.row .large-offset-1{position:relative;margin-left:8.33333%}.row .large-offset-2{position:relative;margin-left:16.66667%}.row .large-offset-3{position:relative;margin-left:25%}.row .large-offset-4{position:relative;margin-left:33.33333%}.row .large-offset-5{position:relative;margin-left:41.66667%}.row .large-offset-6{position:relative;margin-left:50%}.row .large-offset-7{position:relative;margin-left:58.33333%}.row .large-offset-8{position:relative;margin-left:66.66667%}.row .large-offset-9{position:relative;margin-left:75%}.row .large-offset-10{position:relative;margin-left:83.33333%}.row .large-offset-11{position:relative;margin-left:91.66667%}.push-1{position:relative;left:8.33333%;right:auto}.pull-1{position:relative;right:8.33333%;left:auto}.push-2{position:relative;left:16.66667%;right:auto}.pull-2{position:relative;right:16.66667%;left:auto}.push-3{position:relative;left:25%;right:auto}.pull-3{position:relative;right:25%;left:auto}.push-4{position:relative;left:33.33333%;right:auto}.pull-4{position:relative;right:33.33333%;left:auto}.push-5{position:relative;left:41.66667%;right:auto}.pull-5{position:relative;right:41.66667%;left:auto}.push-6{position:relative;left:50%;right:auto}.pull-6{position:relative;right:50%;left:auto}.push-7{position:relative;left:58.33333%;right:auto}.pull-7{position:relative;right:58.33333%;left:auto}.push-8{position:relative;left:66.66667%;right:auto}.pull-8{position:relative;right:66.66667%;left:auto}.push-9{position:relative;left:75%;right:auto}.pull-9{position:relative;right:75%;left:auto}.push-10{position:relative;left:83.33333%;right:auto}.pull-10{position:relative;right:83.33333%;left:auto}.push-11{position:relative;left:91.66667%;right:auto}.pull-11{position:relative;right:91.66667%;left:auto}.column.large-centered,.columns.large-centered{position:relative;margin-left:auto;margin-right:auto;float:none!important}.column.large-uncentered,.columns.large-uncentered{margin-left:0;margin-right:0;float:left!important}.column.large-uncentered.opposite,.columns.large-uncentered.opposite{float:right!important}}@media only screen{[class*=block-grid-]{display:block;padding:0;margin:0 -.625em;*zoom:1}[class*=block-grid-]:after,[class*=block-grid-]:before{content:" ";display:table}[class*=block-grid-]:after{clear:both}[class*=block-grid-]>li{display:inline;height:auto;float:left;padding:0 .625em 1.25em}.small-block-grid-1>li{width:100%;padding:0 .625em 1.25em}.small-block-grid-1>li:nth-of-type(n){clear:none}.small-block-grid-1>li:nth-of-type(1n+1){clear:both}.small-block-grid-2>li{width:50%;padding:0 .625em 1.25em}.small-block-grid-2>li:nth-of-type(n){clear:none}.small-block-grid-2>li:nth-of-type(2n+1){clear:both}.small-block-grid-3>li{width:33.33333%;padding:0 .625em 1.25em}.small-block-grid-3>li:nth-of-type(n){clear:none}.small-block-grid-3>li:nth-of-type(3n+1){clear:both}.small-block-grid-4>li{width:25%;padding:0 .625em 1.25em}.small-block-grid-4>li:nth-of-type(n){clear:none}.small-block-grid-4>li:nth-of-type(4n+1){clear:both}.small-block-grid-5>li{width:20%;padding:0 .625em 1.25em}.small-block-grid-5>li:nth-of-type(n){clear:none}.small-block-grid-5>li:nth-of-type(5n+1){clear:both}.small-block-grid-6>li{width:16.66667%;padding:0 .625em 1.25em}.small-block-grid-6>li:nth-of-type(n){clear:none}.small-block-grid-6>li:nth-of-type(6n+1){clear:both}.small-block-grid-7>li{width:14.28571%;padding:0 .625em 1.25em}.small-block-grid-7>li:nth-of-type(n){clear:none}.small-block-grid-7>li:nth-of-type(7n+1){clear:both}.small-block-grid-8>li{width:12.5%;padding:0 .625em 1.25em}.small-block-grid-8>li:nth-of-type(n){clear:none}.small-block-grid-8>li:nth-of-type(8n+1){clear:both}.small-block-grid-9>li{width:11.11111%;padding:0 .625em 1.25em}.small-block-grid-9>li:nth-of-type(n){clear:none}.small-block-grid-9>li:nth-of-type(9n+1){clear:both}.small-block-grid-10>li{width:10%;padding:0 .625em 1.25em}.small-block-grid-10>li:nth-of-type(n){clear:none}.small-block-grid-10>li:nth-of-type(10n+1){clear:both}.small-block-grid-11>li{width:9.09091%;padding:0 .625em 1.25em}.small-block-grid-11>li:nth-of-type(n){clear:none}.small-block-grid-11>li:nth-of-type(11n+1){clear:both}.small-block-grid-12>li{width:8.33333%;padding:0 .625em 1.25em}.small-block-grid-12>li:nth-of-type(n){clear:none}.small-block-grid-12>li:nth-of-type(12n+1){clear:both}}@media only screen and (min-width:768px){.small-block-grid-10>li:nth-of-type(10n+1),.small-block-grid-11>li:nth-of-type(11n+1),.small-block-grid-12>li:nth-of-type(12n+1),.small-block-grid-1>li:nth-of-type(1n+1),.small-block-grid-2>li:nth-of-type(2n+1),.small-block-grid-3>li:nth-of-type(3n+1),.small-block-grid-4>li:nth-of-type(4n+1),.small-block-grid-5>li:nth-of-type(5n+1),.small-block-grid-6>li:nth-of-type(6n+1),.small-block-grid-7>li:nth-of-type(7n+1),.small-block-grid-8>li:nth-of-type(8n+1),.small-block-grid-9>li:nth-of-type(9n+1){clear:none}.large-block-grid-1>li{width:100%;padding:0 .625em 1.25em}.large-block-grid-1>li:nth-of-type(n){clear:none}.large-block-grid-1>li:nth-of-type(1n+1){clear:both}.large-block-grid-2>li{width:50%;padding:0 .625em 1.25em}.large-block-grid-2>li:nth-of-type(n){clear:none}.large-block-grid-2>li:nth-of-type(2n+1){clear:both}.large-block-grid-3>li{width:33.33333%;padding:0 .625em 1.25em}.large-block-grid-3>li:nth-of-type(n){clear:none}.large-block-grid-3>li:nth-of-type(3n+1){clear:both}.large-block-grid-4>li{width:25%;padding:0 .625em 1.25em}.large-block-grid-4>li:nth-of-type(n){clear:none}.large-block-grid-4>li:nth-of-type(4n+1){clear:both}.large-block-grid-5>li{width:20%;padding:0 .625em 1.25em}.large-block-grid-5>li:nth-of-type(n){clear:none}.large-block-grid-5>li:nth-of-type(5n+1){clear:both}.large-block-grid-6>li{width:16.66667%;padding:0 .625em 1.25em}.large-block-grid-6>li:nth-of-type(n){clear:none}.large-block-grid-6>li:nth-of-type(6n+1){clear:both}.large-block-grid-7>li{width:14.28571%;padding:0 .625em 1.25em}.large-block-grid-7>li:nth-of-type(n){clear:none}.large-block-grid-7>li:nth-of-type(7n+1){clear:both}.large-block-grid-8>li{width:12.5%;padding:0 .625em 1.25em}.large-block-grid-8>li:nth-of-type(n){clear:none}.large-block-grid-8>li:nth-of-type(8n+1){clear:both}.large-block-grid-9>li{width:11.11111%;padding:0 .625em 1.25em}.large-block-grid-9>li:nth-of-type(n){clear:none}.large-block-grid-9>li:nth-of-type(9n+1){clear:both}.large-block-grid-10>li{width:10%;padding:0 .625em 1.25em}.large-block-grid-10>li:nth-of-type(n){clear:none}.large-block-grid-10>li:nth-of-type(10n+1){clear:both}.large-block-grid-11>li{width:9.09091%;padding:0 .625em 1.25em}.large-block-grid-11>li:nth-of-type(n){clear:none}.large-block-grid-11>li:nth-of-type(11n+1){clear:both}.large-block-grid-12>li{width:8.33333%;padding:0 .625em 1.25em}.large-block-grid-12>li:nth-of-type(n){clear:none}.large-block-grid-12>li:nth-of-type(12n+1){clear:both}}p.lead{font-size:1.21875em;line-height:1.6}.subheader{line-height:1.4;color:#6f6f6f;font-weight:300;margin-top:.2em;margin-bottom:.5em}blockquote,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,li,ol,p,pre,td,th,ul{margin:0;padding:0;direction:ltr}a{color:#2ba6cb;text-decoration:none;line-height:inherit}a:focus,a:hover{color:#2795b6}a img{border:0}p{font-family:inherit;font-weight:400;font-size:1em;line-height:1.6;margin-bottom:1.25em;text-rendering:optimizeLegibility}p aside{font-size:.875em;line-height:1.35;font-style:italic}h1,h2,h3,h4,h5,h6{font-family:"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;font-weight:700;font-style:normal;color:#222;text-rendering:optimizeLegibility;margin-top:.2em;margin-bottom:.5em;line-height:1.2125em}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-size:60%;color:#6f6f6f;line-height:0}h1{font-size:2.125em}h2{font-size:1.6875em}h3{font-size:1.375em}h4,h5{font-size:1.125em}h6{font-size:1em}hr{border:solid #ddd;border-width:1px 0 0;clear:both;margin:1.25em 0 1.1875em;height:0}em,i{font-style:italic;line-height:inherit}b,strong{font-weight:700;line-height:inherit}small{font-size:60%;line-height:inherit}code{font-family:Consolas,"Liberation Mono",Courier,monospace;font-weight:700;color:#7f0a0c}dl,ol,ul{font-size:1em;line-height:1.6;margin-bottom:1.25em;list-style-position:outside;font-family:inherit}ol,ol.no-bullet,ul,ul.no-bullet{margin-left:0}ul li ol,ul li ul{margin-left:1.25em;margin-bottom:0;font-size:1em}ul.circle li ul,ul.disc li ul,ul.square li ul{list-style:inherit}ul.square{list-style-type:square}ul.circle{list-style-type:circle}ul.disc{list-style-type:disc}ul.no-bullet{list-style:none}ol li ol,ol li ul{margin-left:1.25em;margin-bottom:0}dl dt{margin-bottom:.3em;font-weight:700}dl dd{margin-bottom:.75em}abbr,acronym{text-transform:uppercase;font-size:90%;color:#222;border-bottom:1px dotted #ddd;cursor:help}abbr{text-transform:none}blockquote{margin:0 0 1.25em;padding:.5625em 1.25em 0 1.1875em;border-left:1px solid #ddd}blockquote cite{display:block;font-size:.8125em;color:#555}blockquote cite:before{content:"\2014 \0020"}blockquote cite a,blockquote cite a:visited{color:#555}blockquote,blockquote p{line-height:1.6;color:#6f6f6f}.vcard{display:inline-block;margin:0 0 1.25em;border:1px solid #ddd;padding:.625em .75em}.vcard li{margin:0;display:block}.vcard .fn{font-weight:700;font-size:.9375em}.vevent .summary{font-weight:700}.vevent abbr{cursor:default;text-decoration:none;font-weight:700;border:0;padding:0 .0625em}@media only screen and (min-width:768px){h1,h2,h3,h4,h5,h6{line-height:1.4}h1{font-size:2.75em}h2{font-size:2.3125em}h3{font-size:1.6875em}h4{font-size:1.4375em}}.print-only{display:none!important}@media print{*{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="#"]:after,a[href^="javascript:"]:after{content:""}blockquote,pre{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}img,tr{page-break-inside:avoid}img{max-width:100%!important}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}.hide-on-print{display:none!important}.print-only{display:block!important}.hide-for-print{display:none!important}.show-for-print{display:inherit!important}}.button,button{border-style:solid;border-width:1px;cursor:pointer;font-family:inherit;font-weight:700;line-height:normal;margin:0 0 1.25em;position:relative;text-decoration:none;text-align:center;display:inline-block;padding-right:1.5em;padding-left:1.5em;font-size:1em;background-color:#2ba6cb;border-color:#2284a1;color:#fff}.button:focus,.button:hover,button:focus,button:hover{background-color:#2284a1;color:#fff}.button.secondary,button.secondary{background-color:#e9e9e9;border-color:#d0d0d0;color:#333}.button.secondary:focus,.button.secondary:hover,button.secondary:focus,button.secondary:hover{background-color:#d0d0d0;color:#333}.button.success,button.success{background-color:#5da423;border-color:#457a1a;color:#fff}.button.success:focus,.button.success:hover,button.success:focus,button.success:hover{background-color:#457a1a;color:#fff}.button.alert,button.alert{background-color:#c60f13;border-color:#970b0e;color:#fff}.button.alert:focus,.button.alert:hover,button.alert:focus,button.alert:hover{background-color:#970b0e;color:#fff}.button.large,button.large{padding-right:2em;padding-left:2em;font-size:1.25em}.button.small,button.small{padding-right:1.125em;padding-left:1.125em;font-size:.8125em}.button.tiny,button.tiny{padding-right:.875em;padding-left:.875em;font-size:.6875em}.button.expand,button.expand{padding-right:0;padding-left:0;width:100%}.button.left-align,button.left-align{text-align:left;text-indent:.75em}.button.right-align,button.right-align{text-align:right;padding-right:.75em}.button.disabled,.button[disabled],button.disabled,button[disabled]{background-color:#2ba6cb;border-color:#2284a1;color:#fff;cursor:default;opacity:.6;-webkit-box-shadow:none;box-shadow:none}.button.disabled:focus,.button.disabled:hover,.button[disabled]:focus,.button[disabled]:hover,button.disabled:focus,button.disabled:hover,button[disabled]:focus,button[disabled]:hover{color:#fff;background-color:#2ba6cb}.button.disabled.secondary,.button[disabled].secondary,button.disabled.secondary,button[disabled].secondary{background-color:#e9e9e9;border-color:#d0d0d0;color:#333;cursor:default;opacity:.6;-webkit-box-shadow:none;box-shadow:none}.button.disabled.secondary:focus,.button.disabled.secondary:hover,.button[disabled].secondary:focus,.button[disabled].secondary:hover,button.disabled.secondary:focus,button.disabled.secondary:hover,button[disabled].secondary:focus,button[disabled].secondary:hover{color:#333;background-color:#e9e9e9}.button.disabled.success,.button[disabled].success,button.disabled.success,button[disabled].success{background-color:#5da423;border-color:#457a1a;color:#fff;cursor:default;opacity:.6;-webkit-box-shadow:none;box-shadow:none}.button.disabled.success:focus,.button.disabled.success:hover,.button[disabled].success:focus,.button[disabled].success:hover,button.disabled.success:focus,button.disabled.success:hover,button[disabled].success:focus,button[disabled].success:hover{color:#fff;background-color:#5da423}.button.disabled.alert,.button[disabled].alert,button.disabled.alert,button[disabled].alert{background-color:#c60f13;border-color:#970b0e;color:#fff;cursor:default;opacity:.6;-webkit-box-shadow:none;box-shadow:none}.button.disabled.alert:focus,.button.disabled.alert:hover,.button[disabled].alert:focus,.button[disabled].alert:hover,button.disabled.alert:focus,button.disabled.alert:hover,button[disabled].alert:focus,button[disabled].alert:hover{color:#fff;background-color:#c60f13}.button,button{padding-top:.8125em;padding-bottom:.75em;-webkit-appearance:none}.button.tiny,button.tiny{padding-top:.5em;padding-bottom:.4375em;-webkit-appearance:none}.button.small,button.small{padding-top:.625em;padding-bottom:.5625em;-webkit-appearance:none}.button.large,button.large{padding-top:1.03125em;padding-bottom:1.03125em;-webkit-appearance:none}@media only screen{.button,button{-webkit-box-shadow:0 1px 0 rgba(255,255,255,.5) inset;box-shadow:0 1px 0 rgba(255,255,255,.5) inset;-webkit-transition:background-color 300ms ease-out;-moz-transition:background-color 300ms ease-out;transition:background-color 300ms ease-out}.button:active,button:active{-webkit-box-shadow:0 1px 0 rgba(0,0,0,.2) inset;box-shadow:0 1px 0 rgba(0,0,0,.2) inset}.button.radius,button.radius{-webkit-border-radius:0;border-radius:0}.button.round,button.round{-webkit-border-radius:1000px;border-radius:1000px}}@media only screen and (min-width:768px){.button,button{display:inline-block}}form{margin:0 0 1em}form .row .row{margin:0 -.5em}form .row .row .column,form .row .row .columns{padding:0 .5em}form .row .row.collapse{margin:0}form .row .row.collapse .column,form .row .row.collapse .columns{padding:0}form .row .row.collapse input{-moz-border-radius-bottomright:0;-moz-border-radius-topright:0;-webkit-border-bottom-right-radius:0;-webkit-border-top-right-radius:0}form .row input.column,form .row input.columns,form .row textarea.column,form .row textarea.columns{padding-left:.5em}label{font-size:.875em;color:#4d4d4d;cursor:pointer;display:block;font-weight:500;margin-bottom:.1875em}label.right{float:none;text-align:right}label.inline{margin:0 0 1em;padding:.625em 0}label small{text-transform:capitalize;color:#666}.postfix,.prefix{display:block;position:relative;z-index:2;text-align:center;width:100%;padding-top:0;padding-bottom:0;border-style:solid;border-width:1px;overflow:hidden;font-size:.875em;height:2.3125em;line-height:2.3125em}.postfix.button,.prefix.button{padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;text-align:center;line-height:2.125em}.prefix.button.radius{-webkit-border-radius:0;border-radius:0;-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:0;-webkit-border-bottom-left-radius:0;-webkit-border-top-left-radius:0;border-bottom-left-radius:0;border-top-left-radius:0}.postfix.button.radius{-webkit-border-radius:0;border-radius:0;-moz-border-radius-topright:0;-moz-border-radius-bottomright:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;border-top-right-radius:0;border-bottom-right-radius:0}.prefix.button.round{-webkit-border-radius:0;border-radius:0;-moz-border-radius-bottomleft:1000px;-moz-border-radius-topleft:1000px;-webkit-border-bottom-left-radius:1000px;-webkit-border-top-left-radius:1000px;border-bottom-left-radius:1000px;border-top-left-radius:1000px}.postfix.button.round{-webkit-border-radius:0;border-radius:0;-moz-border-radius-topright:1000px;-moz-border-radius-bottomright:1000px;-webkit-border-top-right-radius:1000px;-webkit-border-bottom-right-radius:1000px;border-top-right-radius:1000px;border-bottom-right-radius:1000px}label.prefix,span.prefix{background:#f2f2f2;border-color:#d9d9d9;border-right:0;color:#333}label.prefix.radius,span.prefix.radius{-webkit-border-radius:0;border-radius:0;-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:0;-webkit-border-bottom-left-radius:0;-webkit-border-top-left-radius:0;border-bottom-left-radius:0;border-top-left-radius:0}label.postfix,span.postfix{background:#f2f2f2;border-color:#ccc;border-left:0;color:#333}label.postfix.radius,span.postfix.radius{-webkit-border-radius:0;border-radius:0;-moz-border-radius-topright:0;-moz-border-radius-bottomright:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;border-top-right-radius:0;border-bottom-right-radius:0}.input-group.radius>:first-child,.input-group.radius>:first-child *{-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:0;-webkit-border-bottom-left-radius:0;-webkit-border-top-left-radius:0;border-bottom-left-radius:0;border-top-left-radius:0}.input-group.radius>:last-child,.input-group.radius>:last-child *{-moz-border-radius-topright:0;-moz-border-radius-bottomright:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;border-top-right-radius:0;border-bottom-right-radius:0}.input-group.round>:first-child,.input-group.round>:first-child *{-moz-border-radius-bottomleft:1000px;-moz-border-radius-topleft:1000px;-webkit-border-bottom-left-radius:1000px;-webkit-border-top-left-radius:1000px;border-bottom-left-radius:1000px;border-top-left-radius:1000px}.input-group.round>:last-child,.input-group.round>:last-child *{-moz-border-radius-topright:1000px;-moz-border-radius-bottomright:1000px;-webkit-border-top-right-radius:1000px;-webkit-border-bottom-right-radius:1000px;border-top-right-radius:1000px;border-bottom-right-radius:1000px}input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea{-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;background-color:#fff;font-family:inherit;border:1px solid #ccc;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1);color:rgba(0,0,0,.75);display:block;font-size:.875em;margin:0 0 1em;padding:.5em;height:2.3125em;width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:-webkit-box-shadow .45s,border-color .45s ease-in-out;-moz-transition:-moz-box-shadow .45s,border-color .45s ease-in-out;transition:box-shadow .45s,border-color .45s ease-in-out}input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,textarea:focus{-webkit-box-shadow:0 0 5px #999;-moz-box-shadow:0 0 5px #999;box-shadow:0 0 5px #999;background:#fafafa;border-color:#999;outline:0}input[type=date][disabled],input[type=datetime-local][disabled],input[type=datetime][disabled],input[type=email][disabled],input[type=month][disabled],input[type=number][disabled],input[type=password][disabled],input[type=search][disabled],input[type=tel][disabled],input[type=text][disabled],input[type=time][disabled],input[type=url][disabled],input[type=week][disabled],textarea[disabled]{background-color:#ddd}input[type=checkbox],input[type=file],input[type=radio],select{margin:0 0 1em}input[type=file]{width:100%}fieldset{border:solid 1px #ddd;padding:1.25em;margin:1.125em 0}fieldset legend{font-weight:700;background:#fff;padding:0 .1875em;margin:0;margin-left:-.1875em}[data-abide] .error small.error,[data-abide] small.error,[data-abide] span.error{display:block;padding:.375em .25em;margin-top:0;margin-bottom:1em;font-size:.75em;font-weight:700;background:#c60f13;color:#fff}[data-abide] small.error,[data-abide] span.error{display:none}small.error,span.error{display:block;padding:.375em .25em;margin-top:0;margin-bottom:1em;font-size:.75em;font-weight:700;background:#c60f13;color:#fff}.error input,.error select,.error textarea{border-color:#c60f13;background-color:rgba(198,15,19,.1);margin-bottom:0}.error input:focus,.error select:focus,.error textarea:focus{background:#fafafa;border-color:#999}.error label,.error label.error{color:#c60f13}.error small.error,.error>small{display:block;padding:.375em .25em;margin-top:0;margin-bottom:1em;font-size:.75em;font-weight:700;background:#c60f13;color:#fff}.error span.error-message{display:block}input.error,textarea.error{border-color:#c60f13;background-color:rgba(198,15,19,.1);margin-bottom:0}input.error:focus,textarea.error:focus{background:#fafafa;border-color:#999}.error select{border-color:#c60f13;background-color:rgba(198,15,19,.1)}.error select:focus{background:#fafafa;border-color:#999}label.error{color:#c60f13}form.custom .hidden-field{margin-left:-99999px;position:absolute;visibility:hidden}form.custom .custom{display:inline-block;width:16px;height:16px;position:relative;top:-1px;vertical-align:middle;border:solid 1px #ccc;background:#fff}form.custom .custom.checkbox{-webkit-border-radius:0;border-radius:0;padding:0}form.custom .custom.radio{-webkit-border-radius:1000px;border-radius:1000px;padding:3px}form.custom .custom.checkbox:before{content:"";display:block;font-size:16px;color:#fff}form.custom .custom.radio.checked:before{content:"";display:block;width:8px;height:8px;-webkit-border-radius:1000px;border-radius:1000px;background:#222;position:relative}form.custom .custom.checkbox.checked:before{content:"\00d7";color:#222;position:absolute;top:-50%;left:50%;margin-top:4px;margin-left:-5px}form.custom .custom.dropdown{display:block;position:relative;top:0;height:2.3125em;margin-bottom:1.25em;margin-top:0;padding:0;width:100%;-webkit-box-shadow:none;background:linear-gradient(to bottom,#fff 0,#f3f3f3 100%);box-shadow:none;font-size:.875em;vertical-align:top}form.custom .custom.dropdown ul{overflow-y:auto;max-height:200px}form.custom .custom.dropdown .current{cursor:default;white-space:nowrap;line-height:2.25em;color:rgba(0,0,0,.75);text-decoration:none;overflow:hidden;display:block;margin-left:.5em;margin-right:2.3125em}form.custom .custom.dropdown .selector{cursor:default;position:absolute;width:2.5em;height:2.3125em;display:block;right:0;top:0}form.custom .custom.dropdown .selector:after{content:"";display:block;width:0;height:0;border:inset 5px;border-color:#aaa transparent transparent;border-top-style:solid;position:absolute;left:.9375em;top:50%;margin-top:-3px}form.custom .custom.dropdown.open a.selector:after,form.custom .custom.dropdown:hover a.selector:after{content:"";display:block;width:0;height:0;border:inset 5px;border-color:#222 transparent transparent;border-top-style:solid}form.custom .custom.dropdown .disabled{color:#888}form.custom .custom.dropdown .disabled:hover{background:0 0;color:#888}form.custom .custom.dropdown .disabled:hover:after{display:none}form.custom .custom.dropdown.open ul{display:block;z-index:10;min-width:100%;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}form.custom .custom.dropdown.small{max-width:134px}form.custom .custom.dropdown.medium{max-width:254px}form.custom .custom.dropdown.large{max-width:434px}form.custom .custom.dropdown.expand{width:100%!important}form.custom .custom.dropdown.open.small ul{min-width:134px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}form.custom .custom.dropdown.open.medium ul{min-width:254px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}form.custom .custom.dropdown.open.large ul{min-width:434px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}form.custom .error .custom.dropdown{border-color:#c60f13;background:rgba(198,15,19,.1);margin-bottom:0}form.custom .error .custom.dropdown:focus{background:#fafafa;border-color:#999}form.custom .error .custom.dropdown+small.error{margin-top:0}form.custom .custom.dropdown ul{position:absolute;width:auto;display:none;left:-1px;top:auto;-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,.1);box-shadow:0 2px 2px 0 rgba(0,0,0,.1);margin:0;padding:0;background:#fff;border:solid 1px #ccc;font-size:16px}form.custom .custom.dropdown ul li{color:#555;font-size:.875em;cursor:default;padding-top:.25em;padding-bottom:.25em;padding-left:.375em;padding-right:2.375em;min-height:1.5em;line-height:1.5em;margin:0;white-space:nowrap;list-style:none}form.custom .custom.dropdown ul li.selected{background:#eee;color:#000}form.custom .custom.dropdown ul li:hover{background-color:#e4e4e4;color:#000}form.custom .custom.dropdown ul li.selected:hover{background:#eee;cursor:default;color:#000}form.custom .custom.dropdown ul.show{display:block}form.custom .custom.disabled{background:#ddd}.keystroke,kbd{background-color:#ededed;border-color:#dbdbdb;color:#222;border-style:solid;border-width:1px;margin:0;font-family:Consolas,Menlo,Courier,monospace;font-size:.875em;padding:.125em .25em 0;-webkit-border-radius:0;border-radius:0}.inline-list{margin:0 auto 1.0625em;margin-left:-1.375em;margin-right:0;padding:0;list-style:none;overflow:hidden}.inline-list>li{list-style:none;float:left;margin-left:1.375em;display:block}.inline-list>li>*{display:block}



/* -------------------------------------------------------------------
3 -- site.css         | Custom styles for this site
------------------------------------------------------------------- */

body {
    font-family: 'Campton W00 Light',sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 1.4em;
    color: #303030;
    background: #fff;
}

form {margin: 0; padding: 0;}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: "Archer A", "Archer B";
    font-style: normal;
    font-weight: 800;
    font-size: 100%;
    text-transform: lowercase;
    line-height: 1.2em;
}

h1 {
    margin: 25px 0;
    font-size: 40px;
    font-weight: 100;
    line-height: 1em;
    text-transform: lowercase;
    color: #818a8f;
}

h1 span {
    text-transform: uppercase;
}

h1 a,
h1 a {
    color: #818a8f;
}

h1 a:hover,
h1 a:hover {
    color: #5c7f92;
}

h2 {
    margin: 16px 0;
    font-weight: 100;
    font-size: 21px;
    line-height: 1em;
    text-transform: none;
    color: #818a8f;
}

h3 {
    margin: 16px 0;
    font-size: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
    color: #303030;
}

h3 span {
    text-transform: uppercase;
}

h4 {
    margin: 16px 0;
    font-weight: 400;
    font-size: 100%;
    font-size: 16px;
    line-height: 1em;
    text-transform: none;
    color: #003359;
}


h5 {
    margin: 16px 0;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    line-height: 1em;
    color: #303030;
}

h6 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #777;
}

strong {
    font-style: normal;
    font-weight: 700;
}

small {
    font-size: 0.75em;
}

p {
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1.5em;
}

ul, ol {
    margin: 0 0 20px 0;
    padding: 0 0 0 30px;
    line-height: 1.5em;
}

ul {
    list-style-type: disc;
}

ul li ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
}

ol li ol {
    list-style-type: lower-alpha;
}

a {
    color: #0065bd;
    text-decoration: none;
}

a:hover {
    color: #5c7f92;
}


.page-wrapper {
    width: 942px;
    margin: 0 auto;
    background: #fff;
}

hr {
    margin: 20px 0;
    padding: 0;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

input[type="button"] {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 1.25em;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: .8125em;
    padding-bottom: .75em;
    font-size: 1em;
    background-color: #2ba6cb;
    border-color: #2284a1;
    color: #fff;
}

input[type="button"]:hover,
input[type="button"]:focus {
    background-color: #2284a1;
    color: #fff;
}

/* Header styles
---------------------------------------------------------------------- */
.header {
    overflow: visible;
}
.header header {
    position: relative;
}

.header header h1 {
    margin: 0;
    padding: 0;
}

.header header h1 a,
.header header h1 img {
    display: block;
}

.logo img {
    display: block;
    margin: 20px 0 0 15px;
}

.utility ul {
    display: block;
    float: right;
    margin: 0 15px 0 0;
    padding: 0;
    line-height: 20px;
    list-style-type: none;
}

.utility ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.utility li a,
.utility li b {
    display: block;
    margin: 0;
    padding: 0px 15px;
    font-size: 10px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    text-transform: lowercase;
    color: #3c3c3c;
    background: #e4e6e7;
    cursor: pointer;
}

.utility li a:hover,
.utility li a:focus {
    color: #fff;
}

.utility li.search {
    height: 24px;
    width: 24px;
    text-align: center;
    background: #ddd;
    cursor: pointer;
}
.utility li.search:hover {
    background: #ccc;
}

.utility li i {
    font-size: 11px;
    color: #fff;
}

.utility li i span {
    position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.utility input {
    height: 24px;
    width: 160px;
    border: none;
    margin: 0 0 0 5px;
    padding: 0 5px;
    font-size: 11px;
    color: #acacac;
    background: #f3f3f3;

}

.utility button {
}

.tagline {
    clear: both;
    float: right;
    margin: 25px 15px 0 0;
    font-size: 14px;
    font-weight: bold;
    color: #818a8f;
}

.header nav {
    position: absolute;
    bottom: 0px;
    right: 15px;
}

.header nav ul {
    margin: 0;
    padding: 0;
}

.header nav ul li {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.header nav ul li.navigation,
.header nav ul li.locations,
.header nav ul li.insights,
.header nav ul li.contact,
.header nav ul li.search {
    display: none;
}

.header nav ul li.navigation .icon-menu {
    display: block;
    float: right;
    width: 22px;
    height: 22px;
    margin: 11px 0 0 11px;
    background: url(https://az480170.vo.msecnd.net/6c670073-17c4-4acf-9506-33a11467344e/img/orig/97396397-507e-40b6-947f-ab5606bbb3bb/icons3.png) no-repeat 0 0;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .header nav ul li.navigation .icon-menu {
        background: url(https://az480170.vo.msecnd.net/6c670073-17c4-4acf-9506-33a11467344e/img/orig/d4a5ee1c-2ac9-4583-919a-4696c4c99a86/icons-03-2x.png) no-repeat 0 0;
        background-size: 44px 22px;
    }
}

.header nav ul li a {
    display: block;
    padding: 2px 10px;
    font-size: 15px;
    text-decoration: none;
    text-transform: lowercase;
    text-align: right;
    font-weight: 500;
    color: #3c3c3c;
    cursor: pointer;
}

.header nav ul li a i {
    display: none;
}

.header nav ul li:hover a,
.header nav ul li a:hover {
    background: #f2f3f4;
}

.header nav ul li ul {
    position: absolute;
    z-index: 10;
    display: none;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #f2f3f4;
}

.header nav ul li:hover ul {
    display: block;
}

.header nav ul li.industry-expertise ul {
    right: 0px;
}

.header nav ul li.resources ul {
    right: 0px;
}

.header nav ul li ul li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 21px;
    cursor: pointer;
}

.header nav ul li ul li a {
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    color: #3c3c3c;
}

.header nav ul li ul li a:hover {
    color: #3c3c3c;
    background: #e4e6e7;
}


/* Main content styles
---------------------------------------------------------------------- */
.main {
    background: #fff;
    min-height: 500px;
    padding: 0;
}

.main.home {
    padding: 0;
}



/* Hero graphic
---------------------------------------------------------------------- */
.hero {
    margin: 0 30px 20px 30px;
    display: block;
}

.hero-graphic {
    position: relative;
    height:330px;
}


.hero-graphic img {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    display: block;
    margin:0;
    padding:0;
    width:125%;
    max-width: 125%;
}

.hero .columns {
    overflow: hidden;
    min-height: 330px;
    padding: 0;
}

.hero-graphic .text {
    width: 60%;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 40px;
    font-family: 'Campton W00 Light',sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #000;
    background-repeat: no-repeat;
    background-position: 9999px 9999px;
    -webkit-background-size: 0 0;
    -moz-background-size: 0 0;
    -o-background-size: 0 0;
    background-size:0 0;
}

.hero-graphic .text h1 {
    margin: 0 0 13px 0;
    padding: 0;
    font-family: "Archer A", "Archer B";
    font-size: 40px;
    line-height: 36px;
    letter-spacing: 1.1px;
    text-transform: lowercase;
    color: #000;
}

.hero-graphic .text p {
    margin: 0 0 16px 0;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.1px;
    line-height: 24px;
}

.hero-graphic .text a {
    border: 1px solid #003359;
    padding: 5px 16px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 1.1px;
    background: #003359;
    color: #fff;
}

.hero-graphic .text a:hover {
    border: 1px solid #000;
    background: none;
    color: #000;
}

.hero-graphic .text.top {
    top: 78px;
    bottom: inherit;
}

.hero-graphic .text.bottom {
    top: inherit;
    bottom: 40px;
}

.hero-graphic .text.left {
    left: 31px;
    right: 40%;
}

.hero-graphic .text.right {
    left: 40%;
    right: 40px;
}




/* Sitemap styles
---------------------------------------------------------------------- */
.sitemap  {
    padding: 0 0 15px 0;
    background: #e4e6e7;
}

.sitemap h5 a {
    display: block;
    margin: 0;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 100;
    text-transform: lowercase;
    text-decoration: none;
    color: #3c3c3c;
    cursor: pointer;
}

.sitemap ul {
    margin: 12px 0 0 0;
    padding: 0 15px;
    list-style-type: none;
}

.sitemap ul li {
    margin: 0 0 8px 0;
    padding: 0;
    text-align: left;
    line-height: 18px;
    cursor: pointer;
}

.sitemap ul li a {
    display: block;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    text-transform: none;
    color: #3c3c3c;
}

.sitemap ul li a:hover {
    color: #999;
}

.columns {
    padding: 0 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.sitemap-one {
    width: 19%;
}

.sitemap-two {
    width: 17%;
}

.sitemap-three {
    width: 23%;
}

.sitemap-four {
    width: 23%;
}

.sitemap-five {
    width: 18%;
}




/* about styles
---------------------------------------------------------------------- */
.about-us {
    display: block;
    padding: 20px 0;
    background: #444;
}

.about-us h2 {
    font-size: 30px;
    font-weight: 100;
    color: #fff;
}

.about-us h3 {
    font-size: 20px;
    font-weight: 100;
    text-transform: lowercase;
    color: #ccc;
}

.about-us section {
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    color: #fff;
}

.about-us section a {
    margin: 10px 20px 0 0;
    font-size: 25px;
    color: #ccc;
}

.about-us section a:hover {
    color: #ddd;
}

.about-us section a b {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.about-us aside {
    border-right: 3px solid #555;
    padding-right: 25px;
}

.about-us aside p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    color: #fff;
}

    .about-us aside a {
        color: #fff;
    }


/* Footer styles
---------------------------------------------------------------------- */

.footer  {
    padding: 25px 0 50px 0;
    min-height: 100px;
    font-size: 13px;
    text-align: center;
    background: #fff;
}

.footer ul {
    margin: 0 0 20px 0;
}

.footer a {
    color: #002e51;
}

.footer a:hover {
    color: #ddd;
}

.footer p {
    margin: 0 0 10px 0;
}




/* home page styles
---------------------------------------------------------------------- */
.home h1 {
    margin: 0 0 16px 0;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: lowercase;
    color: #00335a;
}

.home-slides {
    margin: 0 15px 20px 15px;
}

.home .company-info {
    margin: 0 0 20px 15px;
    border: 1px solid #c8c8c8;
    padding: 10px;
    font-size: 23px;
    font-weight: 100;
    color: #00335a;
    line-height: 30px;
}

.company-info p {
    margin: 0;
    padding: 0;
    font-weight: 100;
}

.social {
    margin: 0 15px 15px 0;
    padding: 10px;
    background: #e4e6e7;
}

.home .social p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 100;
    color: #003359;
}

.home .blog-feed {
    margin: 0 15px 20px 0;
}

.blog-feed h2 {
    margin: 0;
    padding: 10px;
    line-height: 1.5em;
    color: #fff;
    background: #00335a;
}

.blog-feed h2 a {
    float: right;
    margin: 0 0 5px 0;
    color: #fff;
}

.blog-feed ul {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}

.blog-feed ul li {
    margin: 0;
    padding: 4px 0;
}




/* interior page styles
---------------------------------------------------------------------- */
aside {
    padding: 0 0 15px 15px;
}

aside *::selection {
    background: transparent; /* Safari */
}

aside *::-moz-selection {
    background: transparent; /* Firefox */
}

aside header {
    position: relative;
    height: auto;
    margin: 0 0 15px 0;
    background: #f2f3f4;
}

aside header h3,
aside header h4 {
    margin: 0;
    padding: 0 70px 0 20px;
    font-size: 24px;
    font-weight: 100;
    text-transform: lowercase;
    line-height: 62px;
    color: #fff;
    background: #f2f3f4;
}

aside .navigation header {
    margin: 0;
}

aside header.page h3,
aside header.page h4 {
    padding: 9px 20px;
    line-height: 24px;
    background: #f2f3f4;
    color: #3c3c3c;
}

aside header.page h3 a,
aside header.page h4 a {
    color: #3c3c3c;
}

aside header.page h3 a:hover,
aside header.page h4 a:hover {
    color: #5c7f92;
}

aside header i {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 62px;
    height: 62px    ;
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 62px;
}

aside .bio-pic {
    padding: 10px;
    text-align: center;
    background: #eee;
}

aside nav {
    background: #e4e6e7;
}

aside nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

aside nav ul li {
    position: relative;
    margin: 0 0 5px 0;
    padding: 0;
    text-align: left;
    cursor: pointer;
}

aside nav li ul {
    display: none;
}

aside nav ul li ul li a {
    padding: 2px 15px 2px 45px;
}

aside nav a {
    display: block;
    padding: 2px 15px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    text-transform: none;
    color: #3c3c3c;
}

aside nav a:hover {
    color: #3c3c3c;
    background: #f2f3f4;
}

aside nav a.disabled-link {
    font-style: italic;
    color: #aaa;
    cursor: default;
    background: none;
}

aside nav li .icon {
    position: absolute;
    right: 0px;
    top: 3px;
    z-index: 10;
    display: block;
    overflow: hidden;
    width: 31px;
    height: 21px;
    padding: 0 10px;
    font-style: normal;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    text-align: right;
}

aside nav li .icon.minus {
    display: none;
    font-size: 22px;
    line-height: 16px;
}

aside nav li .icon:focus,
aside nav li .icon:hover {
    color: #fff;
}

aside .navigation {
    margin: 0 0 15px 0;
}

aside .calculator.row,
.interior .calculator.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

aside .calculator {
    display: block;
    background: #e4e6e7;
}

.interior .calculator {
    display: none;
    background: #e4e6e7;
}

aside .row .columns,
.interior .calculator.row .columns {
    padding: 10px;
}

aside .calculator img,
.interior .calculator img  {
    display: block;
    margin: 0 auto;
}

aside .calculator p,
.interior .calculator p {
    margin: 0;
    padding: 0;
}

aside .calculator p a,
.interior .calculator p a {
    display: block;
}

aside .calculator hr,
.interior .calculator hr {
     border: 0;
     height: 0;
     margin: 5px 0;
     padding: 0;
     border-top: 1px solid #ccc;
}

aside .client-results,
.interior .client-results {
    display: block;
    float: none;
    width: 100%;
    margin: 0 0 15px 0;
    border: 1px solid #063b6a;
    font-size: 12px;
}

.interior .client-results {
    display: none;
}

aside .client-results p,
.interior .client-results p {
    margin: 0;
    padding: 0;
}

aside .client-results  h2,
.interior .client-results  h2 {
    margin: 0 0 15px 0;
    padding: 10px 15px;
    color: #fff;
    background: #063b6a;
}

aside .client-results  ul,
.interior  .client-results  ul {
    margin: 20px 10px;
    padding: 0;
    list-style: none;
}

aside .client-results  li,
.interior  .client-results  li {
    margin: 0 0 25px 0;
}

.interior {
    margin: 0 15px;
    padding: 0 0 30px 0;
    border-top: #c5c5c5 1px solid;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    color: #303030;
}

.interior h1 span {
    text-transform: uppercase;
}

.bio-page .interior h1 {
text-transform: capitalize;
}

/* Industry calculator styles */

.savings-calculator-wrapper {
    margin: 0 0 20px 0;
    border: 1px solid #eee;
    padding: 10px;
    background: #f8f8f8;
}

.savings-calculator {
    width: 100%;
    margin: 0;
    /*border: 1px solid #303030;*/
}

.savings-calculator .header {
    background-color: #eee;
    font-weight: 700;
}

.savings-calculator td {
    padding: 10px;
    font-size: 16px;
    text-align: right;
}

.savings-calculator td.value {
    text-align: left;
}

.savings-calculator td.label {
    text-align: left;
    width: 244px;
}

.savings-calculator input[type=text] {
    margin: 0;
}

.savings-calculator .summary {
    background-color: #eee;
    font-weight: 700;
}

.error {
    border: solid 2px red;
}


/* Industry Landing Page Grid */
.industry-col {
    position: relative;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px 0;
}


.industry-col img {
    float: left;
    margin: 15px 20px 5px 0;
}

.industries p {
    margin: 0;
    padding: 0;
}

.industries {
    position: relative;
}



/* How it Works List */
.graphic .line {
    position: relative;
    padding: 20px 75px 20px 100px;
}

.graphic .line h3,
.graphic .line p {
    margin: 0;
    padding: 0;
    color: #18284c;
}

.graphic .line h3 {
    font-weight: 700;
}

.graphic .line p {
    font-weight: 300;
}

.graphic .red {background: #d9a5a9;}
.graphic .orange {background: #fcd3a5;}
.graphic .yellow {background: #fae5ae;}
.graphic .lime {background: #cfe5b4;}
.graphic .green {background: #b6d1b0;}
.graphic .blue {background: #a0a8b5;}
.graphic .purple {background: #d3a8d3;}

.graphic .square {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
}

.graphic .red .square  {background: #a01d25;}
.graphic .orange .square  {background: #f6931e;}
.graphic .yellow .square  {background: #f7bf36;}
.graphic .lime .square  {background: #84bf41;}
.graphic .green .square  {background: #468b38;}
.graphic .blue .square  {background: #122546;}
.graphic .purple .square  {background: #90278e;}

.graphic .bg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: -15px;
    width: 20px;
}

.graphic .red .bg {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/e7042765-f7d2-4a33-b393-c0f0ce601f17/arrow-red.png) no-repeat right center;
    background-size: 20px 70px;
}

.graphic .orange .bg {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/e2b2ad04-4c90-4440-ba85-eeeaac9c7b1c/arrow-orange.png) no-repeat right center;
    background-size: 20px 70px;
}

.graphic .yellow .bg {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/abe356cd-5dac-4217-9ef1-73171453106a/arrow-yellow.png) no-repeat right center;
    background-size: 20px 70px;
}

.graphic .lime .bg {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/ba786b94-9db0-4550-b553-ace7a058b9ed/arrow-lime.png) no-repeat right center;
    background-size: 20px 70px;
}

.graphic .green .bg {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/9ba1b908-1d70-4ccf-a424-85cd1a806bff/arrow-green.png) no-repeat right center;
    background-size: 20px 70px;
}

.graphic .blue .bg {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/7c376876-d649-43c5-91a2-7c4b36d5761b/arrow-blue.png) no-repeat right center;
    background-size: 20px 70px;
}

.graphic .purple .bg {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/d598a455-7fe0-41b1-a91d-74886328b548/arrow-purple.png) no-repeat right center;
    background-size: 20px 70px;
}

.graphic .no {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    text-align: center;
    color: #040404;
    background: #fff;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}

.graphic .icon {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 45px;
    height: 45px;
    margin-top: -23px;
    background: #a01d25;
}

.graphic .red .icon {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/37089729-2c75-4972-95e1-028e4027939c/icon-red-sm.png) no-repeat;
}

.graphic .orange .icon {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/d54a336e-f5ce-4e83-a96a-01061949005e/icon-orange-sm.png) no-repeat;
}

.graphic .yellow .icon {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/b0a7523b-8501-4eaf-949a-5d32482e95d8/icon-yellow-sm.png) no-repeat;
}

.graphic .lime .icon {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/c3f29c96-87ed-4895-8c7c-3721f299623c/icon-lime-sm.png) no-repeat;
}

.graphic .green .icon {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/edbe1e00-44f7-4752-a6c4-247f7748dbed/icon-green-sm.png) no-repeat;
}

.graphic .blue .icon {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/58c3add1-aa0e-489f-bf6b-6f20303f9416/icon-blue-sm.png) no-repeat;
}

.graphic .purple .icon {
    background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/d66038e1-d91d-4651-bae9-4493b31ad52b/icon-purple-sm.png) no-repeat;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .graphic .red .icon {
        background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/32b6ffbd-0522-49cf-be06-05e177926a26/icon-red.png) no-repeat;
        background-size: 45px 45px;
    }

    .graphic .orange .icon {
        background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/53a2842d-7070-46c5-9c1d-d6102510e1cb/icon-orange.png) no-repeat;
        background-size: 45px 45px;
    }

    .graphic .yellow .icon {
        background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/1ffb22a1-2652-49f1-b922-2b2fb7af335d/icon-yellow.png) no-repeat;
        background-size: 45px 45px;
    }

    .graphic .lime .icon {
        background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/e4580d49-913a-4161-9e14-e6c9047e6ae1/icon-lime.png) no-repeat;
        background-size: 45px 45px;
    }

    .graphic .green .icon {
        background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/512a6cfc-c67c-495a-9d38-456542c4bc2c/icon-green.png) no-repeat;
        background-size: 45px 45px;
    }

    .graphic .blue .icon {
        background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/a01ab273-904e-4e4d-96e4-54cc41982f92/icon-blue.png) no-repeat;
        background-size: 45px 45px;
    }

    .graphic .purple .icon {
        background: url(https://az480170.vo.msecnd.net/94eb630d-1bfd-4ef0-aef6-cd93d9358723/img/orig/9fb2acf9-e323-4592-85f3-99718b66bc53/icon-purple.png) no-repeat;
        background-size: 45px 45px;
    }
}


/* Faqs Page */
.onClick {
    color: #0065bd;
    text-decoration: none;
    cursor: pointer;
}

.onClick:hover {
    color: #5c7f92;
}


/* Search Template Styles */
.search-side-about {
    display: block;
}

.search-side-blog {
    display: none;
}



/* -------------------------------------------------------------------
4 -- mediaquery.css | Media Query CSS
------------------------------------------------------------------- */
/* Smaller screens  ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 982px) {
    .page-wrapper {
        width: 100%;
    }

}
}
